<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>添加签名角色</title>
	<link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="../public/stylesheets/style.css">
</head>
<body>
	<div class="body-wrap p-5">
				<div class="form-horizontal form-wrap">
				  <div class="form-group">
				    <label class="col-sm-3 control-label" style="line-height:30px;">角色</label>
				    <div class="col-sm-5" style="padding-left: 0;">
				      <select name="" id="" class="form-control input-sm" v-model="selectRole" v-cloak>
								<option v-for="role in roleArr">{{role}}</option>
							</select>
				    </div>
				  </div>
					<div class="form-group"></div>
					<div class="form-group">
				    <div class="col-sm-offset-3 col-sm-6">
				      <button  class="btn btn-primary" @click="submitForm()">插入</button>
				    </div>
				  </div>
				</div>

	</div>

	<script src="../public/javascripts/vue.js"></script>
	<script src="../public/javascripts/vue-resource.min.js"></script>
	<script>

		new Vue({
			el:'body',
			data:{
				 selectRole:"设计",
				 roleArr:['设计', '校核', '审核', '批准']
			},
			methods:{
				submitForm() {
					JQ.clickOK(this.selectRole);
				}
			},
		})

	</script>
</body>
</html>