<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>插入电气柜</title>
	<link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="../public/stylesheets/flex.css">
	<link rel="stylesheet" href="../public/stylesheets/font-awesome.css">
	<link rel="stylesheet" href="../public/stylesheets/jquery.treegrid.css">
	<link rel="stylesheet" href="../public/stylesheets/style.css">
	<script src="../public/javascripts/jquery-1.11.1.min.js"></script> <!--引入vue.js-->
</head>
<body>
	<div class="body-wrap p-5">
	    <div class="box-wrap">
      		<div class="bg-box-0" flex="dir:top main:justify">
				<div class="bg-box-b">
					<table class="table table-bordered table-ver-top">
      					<col class="col-xs-6">
					  	<col class="col-xs-6">
					  	<tbody>
							<tr>
								<td>
									<div class="group-item mt-5">
				      					&nbsp;&nbsp;&nbsp;&nbsp;朝向&nbsp;&nbsp;&nbsp;<select name="" id="" class="form-control input-sm dl" v-cloak style="width:100px;" v-model="orientation">
												<option>上</option>
									 			<option>下</option>
												<option>左</option>
									  			<option>右</option>
											</select>
				      				</div>
								</td>
								<td>
									<div class="group-item">
										&nbsp;&nbsp;&nbsp;&nbsp;间距&nbsp;&nbsp;&nbsp;<input type="text" class="form-control input-sm dl"  :class="{disabled:isDisabled}" style="width:100px;" v-model="interval"> MM
				      				</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="panel panel-info panel-bim">
		  								<div class="panel-heading">第一排</div>
		  								<div class="panel-body-wrap p-5">
		  									<table class="table table-bordered text-center ">
						      					<col class="col-xs-4">
											  	<col class="col-xs-3">
											  	<col class="col-xs-2">
											  	<col class="col-xs-3">
											  <thead>
											  	<tr>
												 	<td>柜子</td>
												    <td>族类型</td>
												    <td>个数</td>
												    <td>操作</td>
											  </tr>
											  </thead>
										  	<tbody>
												<tr v-for="list in firstRow" :id="key" v-cloak>
													<td>
														{{list.Name}}
													</td>
													<td>{{list.Symbol}}</td>
													<td>{{list.Count}}</td>
													<td><button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#NewAddTypeModel">新增类型</button></td>
												</tr>
												<tr @change="tr_changeEvent">
													<td>
														<select name="" id=""  class="form-control input-sm " v-model="selected_type" v-cloak>
															<option v-for="option in optionList" >{{option.value}}</option>
												        </select>
													</td>
													<td>
														<!-- <input class="input-noborder" style="height:25px;text-align: center;width:100px;" v-model="input_type"> -->
														<select name="" id=""  class="form-control input-sm " v-model="selected_ztype" v-cloak>
															<option v-for="item in zItems" >{{item.name}}</option>
												        </select>
													</td>
													<td><input class="input-noborder" style="height:25px;text-align: center;width:50px;" v-model="input_numb"></td>
													<td><button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#NewAddTypeModel">新增类型</button></td>
												</tr>
										  </tbody>
										</table>
		  								</div>
				      				</div>
								</td>
								<td>
									<div class="panel panel-info panel-bim">
		  								<div class="panel-heading">第二排</div>
											<div class="panel-body-wrap p-5">
												<table class="table table-bordered text-center ">
							      					<col class="col-xs-4">
												  	<col class="col-xs-3">
												  	<col class="col-xs-2">
												  	<col class="col-xs-3">
													<thead>
													  	<tr>
														 	<td>柜子</td>
														    <td>族类型</td>
														    <td>个数</td>
														    <td>操作</td>
													  </tr>
													</thead>
											  	    <tbody>
											  	    	<tr v-for="list in secondRow" :id="key" v-cloak>
															<td>
																{{list.Name}}
															</td>
															<td>{{list.Symbol}}</td>
															<td>{{list.Count}}</td>
															<td><button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#NewAddTypeModel">新增类型</button></td>
														</tr>
														<tr @change="tr_changeEvent_t">
															<td>
																<select name="" id=""  class="form-control input-sm" :class="{disabled:isDisabled}" v-cloak v-model="selected_second">
																	<option v-for="option in optionListSecond" >{{option.value}}</option>
														        </select>
															</td>
															<td>
																<select name="" id=""  class="form-control input-sm " v-model="selected_ztype_t" v-cloak>
																	<option v-for="item in zItems_t" >{{item.name}}</option>
														        </select>
															</td>
															<td><input class="input-noborder" style="height:25px;text-align: center;width:50px;" v-model="input_numb_t" :class="{disabled:isDisabled}"></td>
															<td><button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#NewAddTypeModel">新增类型</button></td>
														</tr>

											  		</tbody>
												</table>
											</div>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>


				</div>
      			<div class="form-box-group">
	      				<div>
	      					布置点：<select class="form-control input-sm dl" name="" id=""  style="width:140px;margin-right:15px;" v-model="decoratePoint">
										<option>左上</option>
								  		<option>左下</option>
							        </select>
							偏移X：<input type="text" class="form-control input-sm dl" style="width:140px;margin-right:15px;" v-model="offsetX">Y：<input type="text" class="form-control input-sm dl" style="width:140px;" v-model="offsetY">
	      				</div>
						<button class="btn btn-primary" @click="place">确定</button>
	      			</div>
      		</div>
	    </div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="NewAddTypeModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">新增类型</h4>
	      </div>
	      <div class="modal-body">
	        	<div flex="box:mean">
				<div class="flex">
					<div class="item_select_2" id="select_zu">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;族</span>
						<select name="" id=""  v-model="selected" class="form-control input-sm" :class="{danger:isDanger}" v-cloak>
							<option v-for="option in options">
								{{option.value}}
							</option>

						</select>
					</div>
					<div class="item_select_2" id="select_type_zu">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;族类型</span>
						<select name="" id="" multiple class="item_select_h form-control" v-model="selected_type" v-cloak>
							<option v-for="(index , item) in items" :id='item.Id' @click="clickItems(item)">
								{{item.类型名称}}
							</option>
						</select>
						<!-- <p>选择：{{selected_type}}</p> -->
					</div>
				</div>
				<div class="flex">
					<button class="btn btn-primary btn-sm btn-bim btn-xs">加载族</button>
					<div class="add_new_type_box">
						<p>新增族类型</p>
						<div class="form-group">
							<span>名字&nbsp;&nbsp;</span>
							<input type="text" v-model="input_add_name" class="form-control input-sm">
						</div>
						<div class="form-group">
							<span>长度&nbsp;&nbsp;</span>
							<input type="text" v-model="input_add_width"  class="form-control input-sm">
						</div>
						<div class="form-group">
							<span>宽度&nbsp;&nbsp;</span>
							<input type="text" v-model="input_add_height"  class="form-control input-sm">
						</div>
						<div class="clearfix">
							<button class="btn btn-primary btn-sm m-0 btn-bim btn-xs pull-right" @click="submitData(this,status)" v-cloak>{{ status ? '修改' : '增加'}}</button>
						</div>
					</div>

				</div>
			</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
	        <button type="button" class="btn btn-primary">确定</button>
	      </div>
	    </div>
	  </div>
	</div>
	<script src="../public/javascripts/bootstrap.min.js"></script> <!--引入vue.js-->
	<script src="../public/javascripts/vue.js"></script> <!--引入vue.js-->
	<script src="../public/javascripts/vue-resource.min.js"></script><!--引入vue.js 插件库 vue中的ajax-->
	<script type="text/javascript">

	</script>

	<script type="text/javascript">
		new Vue({
			el:'body',
			data:{
				isToNext:true,
				optionList:[ //第一排
					{
						value:'出线柜',
						symbol:[{
							name:'100*100',
						}]
					},
					{
						value:'电容器柜',
						symbol:[{
							name:'200*100'
						},{
							name:'200*200'
						}]
					},
					{
						value:'分段断路器柜',
						symbol:[{
							name:'300*100'
						},{
							name:'300*200'
						}]
					},
					{
						value:'分段隔离柜',
						symbol:[{
							name:'400*100'
						},{
							name:'400*200'
						}]
					}
					// ,
					// {value:'分段母设柜'},
					// {value:'接地变柜'},
					// {value:'主变进线柜'}
				],
				optionListSecond:[ //第二排
					{
						value:'出线柜',
						symbol:[{
							name:'100*100',
						}]
					},
					{
						value:'电容器柜',
						symbol:[{
							name:'200*100'
						},{
							name:'200*200'
						}]
					},
					{
						value:'分段断路器柜',
						symbol:[{
							name:'300*100'
						},{
							name:'300*200'
						}]
					},
					{
						value:'分段隔离柜',
						symbol:[{
							name:'400*100'
						},{
							name:'400*200'
						}]
					}
					// ,
					// {value:'分段母设柜'},
					// {value:'接地变柜'},
					// {value:'主变进线柜'}
				],
				selected_type:'',//第一排柜子选择框
				selected_ztype:'',//第一排族类型selected框
				selected_second:'',//第二排柜子选择框
				input_type:'', //族类型
				input_numb:1, //个数

				selected_ztype_t:'',//第一排族类型
				input_numb_t:1,//第二排族类型
				firstRow:[
					// {
				    //  gz:'',
					// 	ztype:'',
					// 	numb:;''
					// }
				], //第一排tr数组循环
				secondRow:[],
				offsetX:'0', //偏移X
				offsetY:'0',//偏移Y
				checkboxed:'',
				// isDisabled:true, //是否禁用状态
				orientation:'上', //朝向
				interval:'2.0', //间隔
				decoratePoint:'左上',//布置点
				objs:[],
				options:[],
				lists:[],
				selected:'',//设置族
				selected_g:'',//设置族类型
				input_add_name:'',//新增类型 名字
				input_add_width:'',//新增类型 长度
				input_add_height:'',//新增类型 宽度
				status:false,
			},

			created(){
				var that = this;
				that.$http.get('../public/javascripts/type.json').then(function(res){
					console.log(res)
					var data = res.data;
					for (var i =0 ;i < data.length; i++) {
						var symbolData = data[i].Symbol;
						var list= [];
						for (var j = 0 ;j <symbolData.length; j++) {
							list.push(data[i].Symbol[j])
						}
						that.options.push({value:data[i].Name,items:list})
					}
				})
				.catch(function(error) {
					console.log(error)
				})
			},

			methods:{
				clickItems(obj) {
					this.status = true;
					console.log(obj)
					var that = this;
					that.input_add_name = obj.族名称;
					that.input_add_width = obj.b;
					that.input_add_height = obj.h;
				},

				submitData(obj,status) {
					var that = this;
					console.log(obj)
					if(status) {
						console.log("=====获取修改数据api======")
						that.input_add_name = '';
						that.input_add_width = '';
						that.input_add_height ='';
						alert('修改成功')
						that.status = false;

					}
					else{
						console.log('======调用增加族类型api======')
						that.$data.options.push({value:that.input_add_name,items:[that.input_add_width + 'x'+ that.input_add_height]})
						that.input_add_name = '';
						that.input_add_width = '';
						that.input_add_height ='';
						alert('增加成功')
					}
				},

				submit(){

				},

				//第一排表格一行编辑都完成后，自动添加下一行
				tr_changeEvent(){
					var that = this;
					if(this.selected_type && this.selected_ztype && this.input_numb != '') {
						that.firstRow.push({Name:this.selected_type, Symbol:this.selected_ztype, Count:this.input_numb})
						that.selected_ztype = '';
						that.input_numb=1;
						that.selected_type=''
					}
				},

				//第二排表格一行编辑都完成后，自动添加下一行
				tr_changeEvent_t(){
					var that = this;
					if(this.selected_second && this.selected_ztype_t && this.input_numb_t != '') {
						that.secondRow.push({Name:this.selected_second, Symbol:this.selected_ztype_t, Count:this.input_numb_t})
						that.selected_ztype_t = '';
						that.input_numb_t=1;
						that.selected_second='';
					}
				},

				//点击确定事件
				place() {
					var that = this
					var info = {
						EventName: "PlaceCabinet",
						Dist: that.interval,
						Direction: that.orientation,
						OffsetX: that.offsetX,
						OffsetY: that.offsetY,
						FirstRow: that.firstRow,
						SecondRow: that.secondRow
					}
					console.log(JSON.stringify(info))
					//JQ.clickOK(JSON.stringify(info));
					JQ.raiseEvent(JSON.stringify(info));
				}
			},

			computed:{
				//第一排选择柜子与族类型
				zItems() {
					var zItems = [] ,selectedValue = this.$data.selected_type;
					this.$data.optionList.forEach(function(e){
						if(e.value == selectedValue) {
							zItems = e.symbol;
						}
					});
					return zItems;
				},
				//第二排选择柜子与族类型
				zItems_t() {
					var zItems_t = [] ,selectedValue = this.$data.selected_second;
					this.$data.optionListSecond.forEach(function(e){
						if(e.value == selectedValue) {
							zItems_t = e.symbol;
						}
					});
					return zItems_t;
				},
				items() {
					var items = [] ,selectedValue = this.$data.selected;
					this.$data.options.forEach(function(e){
						if(e.value == selectedValue) {
							items = e.items;
						}
					});
					return items;
				}
			},
			watch:{
				// checkboxed:{
				// 	//监听双排复选框，默认第二排不可编辑，选中则显示可编辑状态
				// 	handler:function(val,oldVal){
				// 		if(val) {
				// 			this.isDisabled = false
				// 		}
				// 		else {
				// 			this.isDisabled = true
				// 		}
				// 	},
				// 	deep:true
				// }
			}
		})
	</script>
</body>
</html>