<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>计算</title>
    <link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="../public/stylesheets/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="../public/stylesheets/flex.css">
    <link rel="stylesheet" href="../public/stylesheets/font-awesome.css">
    <link rel="stylesheet" href="../public/stylesheets/jquery.treegrid.css">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <script src="../public/javascripts/jquery-1.11.1.min.js"></script> <!--引入vue.js-->
    <style type="text/css">
        .bg-box-0 {
            min-height: auto;
        }
    </style>
</head>
<body>
    <div class="body-wrap">
        <div class="panel-body box-wrap">
            <div class="bg-box-0">
                <div class="bg-box-b">
                    <form class="form-inline">
                      <div class="form-group">
                        <p class="form-control-static">被保护物高度：</p>
                      </div>
                      <div class="form-group">
                        <label for="inputPassword2" class="sr-only">Password</label>
                        <input type="password" class="form-control" id="inputPassword2">&nbsp;&nbsp;m
                      </div>
                      <button class="btn btn-info pull-right">计算</button>
                    </form>
                    <div class="group-item mt-15">
                        <div class="panel panel-info penel-fix">
                            <div class="panel-heading">
                                <div class="checkbox m-0">计算结果：</div>
                            </div>
                            <div class="panel-body-wrap ptb-5" :class="{ischeck:isDynamoCheck}">
                                <div class="row p-15">
                                    <div class="col-sm-8">
                                        <textarea class="form-control" name="" id="" cols="30" rows="5" placeholder="计算结果"></textarea>
                                    </div>
                                    <div class="col-sm-4" flex="dir:top cross:center">
                                        <button class="btn btn-primary btn-bim btn-sm mb-0">三维图展示</button>
                                        <button class="btn btn-primary btn-bim btn-sm mb-0">导出计算书</button>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../public/javascripts/bootstrap.min.js"></script> <!--引入vue.js-->
    <script src="../public/javascripts/vue.js"></script> <!--引入vue.js-->
    <script src="../public/javascripts/vue-resource.min.js"></script><!--引入vue.js 插件库 vue中的ajax-->

    <script type="text/javascript">
        vue = new Vue({
            el:'body',
            data:{
                
            },

            created(){

            },

            methods:{

            }
        })
    </script>
</body>
</html>