<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>防雷计算</title>
    <link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="../public/stylesheets/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="../public/stylesheets/flex.css">
    <link rel="stylesheet" href="../public/stylesheets/font-awesome.css">
    <link rel="stylesheet" href="../public/stylesheets/jquery.treegrid.css">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <script src="../public/javascripts/jquery-1.11.1.min.js"></script> <!--引入vue.js-->
    <style type="text/css">
        .bg-box-0 {
            min-height: auto;
        }
    </style>
</head>
<body>
    <div class="body-wrap">
        <div class="panel-body box-wrap">
            <div class="bg-box-0">
                <div class="bg-box-b">
                    <form class="form-inline">
                      <div class="form-group">
                        <p class="form-control-static">被保护物高度：</p>
                      </div>
                      <div class="form-group">
                        <label for="protectHeight" class="sr-only"> </label>
                        <input class="form-control" id="protectHeight" v-model="protectHeight">&nbsp;&nbsp;m
                      </div>
                      <button class="btn btn-info pull-right">计算</button>
                    </form>
                    <div class="group-item mt-15">
                        <div class="panel panel-info penel-fix">
                            <div class="panel-heading">
                                <div class="checkbox m-0">计算结果：</div>
                            </div>
                            <div class="panel-body-wrap ptb-5" :class="{ischeck:isDynamoCheck}">
                                <div class="row p-15">
                                    <div class="col-sm-8">
                                        <textarea class="form-control" name="" id="" cols="30" rows="5" placeholder="计算结果"></textarea>
                                    </div>
                                    <div class="col-sm-4" flex="dir:top cross:center">
                                        <button class="btn btn-primary btn-bim btn-sm mb-0" @click="draw3D">三维图展示</button>
                                        <button class="btn btn-primary btn-bim btn-sm mb-0" @click="draw2D">生成二维图</button>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="body-full-mask" v-if="isShowMask" v-cloak>
		<div class="app-loading">
	  		<div class="box">
	  			<div class="line-spin-fade-loader">
	  				<div></div>
	  				<div></div>
	  				<div></div>
	  				<div></div>
	  				<div></div>
	  				<div></div>
	  				<div></div>
	  				<div></div>
	  			</div>
                <p>{{showMaskInfoLine1}}</p>
                <p style="margin-top:-40px;">{{showMaskInfoLine2}}</p>
	  		</div>
  		</div>
    </div>
    
    <script src="../public/javascripts/bootstrap.min.js"></script> <!--引入vue.js-->
    <script src="../public/javascripts/vue.js"></script> <!--引入vue.js-->
    <script src="../public/javascripts/vue-resource.min.js"></script><!--引入vue.js 插件库 vue中的ajax-->

    <script type="text/javascript">
        vue = new Vue({
            el:'body',
            data:{
                protectHeight:'10',
                isShowMask:false,
                showMaskInfoLine1:'hello',
                showMaskInfoLine2:'world'
            },

            created(){

            },

            methods:{
                draw3D()
                {
                    var info = {
                        EventName: "CreateLightningFormArea",
                        ProtectHeight:this.protectHeight
                    }
                    if (window.JQ) {
                        JQ.raiseEvent(JSON.stringify(info));
                    }
                },
                draw2D()
                {
                    var info = {
                        EventName: "CreateLightningPlaneArea",
                        ProtectHeight:this.protectHeight
                    }
                    if (window.JQ) {
                        JQ.raiseEvent(JSON.stringify(info));
                    }
                },
                showMaskInfo:function(line1,line2)
                {
                    this.showMaskInfoLine1 = line1;
                    this.showMaskInfoLine2 = line2;
                    this.isShowMask = true;
                },
                hideMaskInfo:function()
                {
                    this.isShowMask = false;
                }
            }
        })
    </script>
</body>
</html>