<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>防雷计算</title>
    <link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="../public/stylesheets/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="../public/stylesheets/flex.css">
    <link rel="stylesheet" href="../public/stylesheets/font-awesome.css">
    <link rel="stylesheet" href="../public/stylesheets/jquery.treegrid.css">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <script src="../public/javascripts/jquery-1.11.1.min.js"></script> <!--引入vue.js-->
    <style type="text/css">
        .bg-box-0 {
            min-height: auto;
        }
    </style>
</head>
<body>
    <div class="body-wrap">
        <div class="panel-body box-wrap">
            <div class="bg-box-0">
                <div class="bg-box-b">
                    <form class="form-inline">
                      <div class="form-group">
                        <p class="form-control-static">被保护物高度：</p>
                      </div>
                      <div class="form-group">
                        <label for="protectHeight" class="sr-only"> </label>
                        <input class="form-control" id="protectHeight" v-model="protectHeight">&nbsp;&nbsp;m
                      </div>
                      <!-- <button class="btn btn-info pull-right">计算</button> -->
                    </form>
                    <div class="group-item mt-15">
                        <div class="panel panel-info penel-fix">
                            <div class="panel-heading">
                                <div class="checkbox m-0">纳入计算的避雷针</div>
                            </div>
                            <div class="panel-body-wrap ptb-5" :class="{ischeck:isDynamoCheck}" style="height:200px;">
                                <!-- <p class="pull-right mr-15">单位：米</p> -->
                                <div class="row  p-5">
                                    <div class="col-xs-12 col-sm-12">
                                        <table class="table table-bordered table-condensed text-center">
                                          <thead>
                                            <tr>
                                              <td><input type="checkbox" name="" v-model="allData.parCheck" @change="allSelect()"></td>
                                              <td>避雷针编号</td>
                                              <td>避雷针高度(单位:m)</td>
                                              <!-- <td>保护半径或最小宽度</td> -->
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr v-for="item in checkData" v-cloak>
                                                <td>
                                                   <div class="checkbox m-0">
                                                        <label>
                                                          <input type="checkbox" @change="singleSelect()" v-model="item.isCheck" :id="item.id">
                                                        </label>
                                                    </div>
                                               </td>
                                              <td>{{item.value}}</td>
                                              <td>{{item.height}}</td>
                                              <!-- <td>{{item.width}}</td> -->
                                            </tr>
                                          </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            
            </div>

             <div style="padding-left:20px;padding-right:20px;padding-top:15px;">
                 <button class="btn btn-primary pull-right ml-15" @click="draw3D" >三维区域展示</button>
                <button class="btn btn-primary pull-right" @click="draw2D" >二维保护计算</button>
            </div> 

        </div>
    </div>

    <div class="body-full-mask" v-if="isShowMask" v-cloak>
		<div class="app-loading">
	  		<div class="box">
	  			<div class="line-spin-fade-loader">
	  				<div></div>
	  				<div></div>
	  				<div></div>
	  				<div></div>
	  				<div></div>
	  				<div></div>
	  				<div></div>
	  				<div></div>
	  			</div>
                <p>{{showMaskInfoLine1}}</p>
                <p style="margin-top:-40px;">{{showMaskInfoLine2}}</p>
	  		</div>
  		</div>
    </div>
    
    <script src="../public/javascripts/bootstrap.min.js"></script> <!--引入vue.js-->
    <script src="../public/javascripts/vue.js"></script> <!--引入vue.js-->
    <script src="../public/javascripts/vue-resource.min.js"></script><!--引入vue.js 插件库 vue中的ajax-->

    <script type="text/javascript">
        vue = new Vue({
            el:'body',
            data:{
                protectHeight:'10',
                calcLightningIds:'',
                isShowMask:false,
                showMaskInfoLine1:'hello',
                showMaskInfoLine2:'world',
                allData: {
                    parCheck: false,
                    text: '全选'
                },
                checkData:[], 
                // [{
                //     id: '1',
                //     value: '1#',
                //     height:'25', //避雷针高度或间距
                //     width:'16.5',
                //     isCheck: false
                // }, {
                //     id: '2',
                //     value: '2#',
                //     height:'25', //避雷针高度或间距
                //     width:'16.5',
                //     isCheck: false
                // }, {
                //     id: '3',
                //     value: '3#',
                //     height:'25', //避雷针高度或间距
                //     width:'16.5',
                //     isCheck: false
                // }],                
            },

            created(){
                    var info = {
                        EventName: "GetLightningConductor"
                    }
                    if (window.JQ) {
                        JQ.raiseEvent(JSON.stringify(info));
                    }
            },

            methods:{
                setTableData:function(checkData)
                {
                    this.checkData = checkData;
                },
                draw3D()
                {
                    this.calcLightningIds = '';
                    var that = this;
                    this.checkData.forEach(function(item)
                    {
                        if (item.isCheck)
                        {
                            if (that.calcLightningIds.length > 0 )
                                that.calcLightningIds += ",";
                            that.calcLightningIds += item.id;
                        }

                    })

                    var info = {
                        EventName: "CreateLightningFormArea",
                        ProtectHeight:this.protectHeight,
                        CalcLightningIds:this.calcLightningIds
                    }
                    if (window.JQ) {
                        JQ.raiseEvent(JSON.stringify(info));
                    }
                },
                draw2D()
                {
                    this.calcLightningIds = '';
                    var that = this;
                    this.checkData.forEach(function(item)
                    {
                        if (item.isCheck)
                        {
                            if (that.calcLightningIds.length > 0 )
                                that.calcLightningIds += ",";
                            that.calcLightningIds += item.id;
                        }
                    })

                    var info = {
                        EventName: "CreateLightningPlaneArea",
                        ProtectHeight:this.protectHeight,
                        CalcLightningIds:this.calcLightningIds
                    }
                    if (window.JQ) {
                        JQ.raiseEvent(JSON.stringify(info));
                    }
                }, 
                showMaskInfo:function(line1,line2)
                {
                    this.showMaskInfoLine1 = line1;
                    this.showMaskInfoLine2 = line2;
                    this.isShowMask = true;
                },
                hideMaskInfo:function()
                {
                    this.isShowMask = false;
                },
                allSelect() {
                    var that = this;
                    that.checkData.forEach(item => {
                        item.isCheck = that.allData.parCheck
                    })
                },
                singleSelect() {
                    var that = this;
                    var selectData = that.checkData.filter(item => {
                        return item.isCheck == true
                    })
                    console.log(selectData) //selectData 就是得到选中的某行数据
                    selectData.length == that.checkData.length ? that.allData.parCheck = true : that.allData.parCheck = false;
                }
            },
            watch:{

            }   
        })
    </script>
</body>
</html>