<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>校审意见</title>
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/flex.css">
	<link rel="stylesheet" href="/stylesheets/font-awesome.css">
	<link rel="stylesheet" href="/stylesheets/jquery.treegrid.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<script src="/javascripts/jquery-1.11.1.min.js"></script> <!--引入vue.js-->
</head>
<body>
	<div class="body-wrap">
	    <div class="panel-body box-wrap">
      		<div class="bg-box">
      			<div class="table-height-jsyj">
      				<h4>图纸列表</h4>
      				<table class="table table-bordered tree text-center">
					  <thead>
					  	<tr>
					  		<td>序号</td>
						 	<td>状态</td>
						    <td>内容</td>
					  </tr>
					  </thead>
				  	<tbody>
						<tr>
							<td>
								1
							</td>
							<td>未修改</td>
							<td>风机洞口对不上</td>
						</tr>
						<tr>
							<td>
								2
							</td>
							<td>未修改</td>
							<td>风机洞口对不上</td>
						</tr>
						
				  </tbody>
				</table>
      			</div>
				
				
      		</div>
	    </div>
	</div>

	<script src="/javascripts/bootstrap.min.js"></script> <!--引入vue.js-->
	<script src="/javascripts/vue.js"></script> <!--引入vue.js-->
	<script src="/javascripts/vue-resource.min.js"></script><!--引入vue.js 插件库 vue中的ajax-->
	<script type="text/javascript">

	</script>
	
	<script type="text/javascript">
		new Vue({
			el:'body',
			data:{
			},
			methods:{
			}
		})
	</script>
</body>
</html>