<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>校审意见</title>
	<link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="../public/stylesheets/flex.css">
	<link rel="stylesheet" href="../public/stylesheets/font-awesome.css">
	<link rel="stylesheet" href="../public/stylesheets/jquery.treegrid.css">
	<link rel="stylesheet" href="../public/stylesheets/style.css">
	<script src="../public/javascripts/jquery-1.11.1.min.js"></script> <!--引入vue.js-->
</head>
<body>
	<div class="body-wrap">
	    <div class="panel-body box-wrap">
      		<div class="bg-box">
      			<div class="table-height-jsyj">
					<div class="modal-body-title">
						<div class="modal-body-title-l">
							<p>2017年05月17日</p>
							<p>北立面，CD轴之间，风机，洞口位置不对应</p>
						</div>
						<div class="modal-body-title-r">
							<img src="file:///e:/bim错误.png" alt="" >
						</div>
					</div>
					<div class="modal-body-title">
						<div class="modal-body-title-l">
							<p>2017年05月18日</p>
							<p>已经修改</p>
						</div>
						<div class="modal-body-title-r">
							<img src="file:///e:/bim错误1.png" alt="" >
						</div>
					</div>
				</div>
			</div>
			<div>
				<div>
				
				<textarea>已经修改</textarea>
				</div>
				<div class="modal-body-footer">
					<div class="modal-flex">
					    <span class="span-flex">状态：</span>
						<select name="" id="" class="form-control input-sm dl" v-cloak>
							<option>已修改</option>
						  	<option>进行中</option>
						  	<option>未修改</option>
						</select>
				    </div>
					<div>
					    <button class="btn btn-primary" @click="submitToNext">确定</button>
				    </div>
				</div>
      		</div>
	    </div>
	</div>

	<script src="../public/javascripts/bootstrap.min.js"></script> <!--引入vue.js-->
	<script src="../public/javascripts/vue.js"></script> <!--引入vue.js-->
	<script src="../public/javascripts/vue-resource.min.js"></script><!--引入vue.js 插件库 vue中的ajax-->
	<script type="text/javascript">

	</script>
	
	<script type="text/javascript">
		new Vue({
			el:'body',
			data:{
			},
			methods:{
			}
		})
	</script>
</body>
</html>