<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>电气设备</title>
	<link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="../public/stylesheets/flex.css">
	<link rel="stylesheet" href="../public/stylesheets/font-awesome.css">
	<link rel="stylesheet" href="../public/stylesheets/jquery.treegrid.css">
	<link rel="stylesheet" href="../public/stylesheets/style.css">
</head>
<body>
	<div class="body-wrap">
	    <div class="panel-body box-wrap">
      		<div class="bg-box">
				 <div class="row">
				 	<div class="col-sm-4">
				 		<div id="tree"></div>
				 	</div>
				 	<div class="col-sm-8">
				 		<div class="row">
				 			<div class="col-sm-4 mt-15">
				 				<img src=""  alt="">
				 				<p>一体式</p>
				 			</div>
				 			<div class="col-sm-4 mt-15">
				 				<img src=""  alt="">
				 				<p>变压器主体</p>
				 			</div>
				 			<div class="col-sm-4 mt-15">
				 				<img src=""  alt="">
				 				<p>散热片</p>
				 			</div>
				 			<div class="col-sm-4 mt-15">
				 				<img src=""  alt="">
				 				<p>中性点设备</p>
				 			</div>
				 			<div class="col-sm-4 mt-15">
				 				<img src=""  alt="">
				 				<p>电缆终端设备</p>
				 			</div>
				 			<div class="col-sm-4 mt-15">
				 				<img src=""  alt="">
				 				<p>全绝缘母线固定器-地面支撑式</p>
				 			</div>
				 			<div class="col-sm-4 mt-15">
				 				<img src=""  alt="">
				 				<p>全绝缘母线固定器-墙内支撑式</p>
				 			</div>
				 			<div class="col-sm-4 mt-15">
				 				<img src=""  alt="">
				 				<p>全绝缘母线固定器-壁挂式</p>
				 			</div>
				 		</div>
				 	</div>
				 </div>
      		</div>
	    </div>
		<div class="bg-footer">
			<button class="btn btn-primary btn-bim btn-sm mb-0" @click="onOK">确定</button>
		</div>
	</div>
	<script src="../public/javascripts/jquery-1.11.1.min.js"></script> <!--引入vue.js-->
	<script src="../public/javascripts/bootstrap.min.js"></script> <!--引入vue.js-->
	<script src="../public/javascripts/bootstrap-treeview.js"></script>
	<script src="../public/javascripts/vue.js"></script> <!--引入vue.js-->
	<script src="../public/javascripts/vue-resource.min.js"></script><!--引入vue.js 插件库 vue中的ajax-->
	
	<script type="text/javascript">
		new Vue({
			el:'body',
			data:{
				type:"",
				tree:[]
			},
			created() {
				//this.type = this.getQueryString('Type');
				//if (this.type == 'transformer') {
					this.tree = [
						{text:"变压器", nodes:[
							{text:"500kV"},
							{text:'220kV'},
							{text:'110kV'}
						]}
					]
				//}
				
    			$('#tree').treeview({
					data:this.tree,
					enabledLinks:true,
					onNodeSelected: this.nodeSelected
				})
			},

			methods:{
				getQueryString(name) {
     				var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
     				var r = window.location.search.substr(1).match(reg);
     				if (r != null) {
				 		return  unescape(r[2]);
					}
					return null;
				},

				//选中节点
				nodeSelected(event, node) {
					alert(node.text)
				},

				onOK() {
					var info = {
						EventName: "PlaceEquipment",
						FamilyName:'主变设备',
						FamilyFile:"E:\\work\\ACADTools\\trunk\\Revit\\GRevitTools\\bin\\x64\\Debug\\FamilyLib\\电气一次\\变压器\\110kV\\主变设备.rfa"
						//FamilyFile:"主变设备.rfa"
					}
					if (window.JQ) {
						JQ.raiseEvent(JSON.stringify(info));
					}
				}
			}
		})
	</script>
</body>
</html>