<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>导出DWG图纸</title>
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/flex.css">
	<link rel="stylesheet" href="/stylesheets/font-awesome.css">
	<link rel="stylesheet" href="/stylesheets/jquery.treegrid.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<script src="/javascripts/jquery-1.11.1.min.js"></script> <!--引入vue.js-->
	<style type="text/css">
		.a-upload {
		    padding: 6px 10px;
		    width:150px;
		    text-align: center;
		    position: relative;
		    cursor: pointer;
		    color: #888;
		    background: #fafafa;
		    border: 1px solid #ddd;
		    border-radius: 4px;
		    overflow: hidden;
		    display: inline-block;
		    *display: inline;
		    *zoom: 1
		}

		.a-upload  input {
		    position: absolute;
		    font-size: 100px;
		    right: 0;
		    top: 0;
		    opacity: 0;
		    filter: alpha(opacity=0);
		    cursor: pointer
		}

		.a-upload:hover {
		    color: #444;
		    background: #eee;
		    border-color: #ccc;
		    text-decoration: none
		}
	</style>
</head>
<body>
	<div class="body-wrap p-5">
	    <div class="box-wrap">
      		<div class="bg-box-0">
				<div class="form-inline" flex="dir:left,cross:center;">
				  <div class="form-group" style="width:80%;">
				    <label for="exampleInputAmount">结果文件夹 &nbsp;&nbsp;</label>
				    <div class="input-group" style="width:80%">
				      <input type="text" class="form-control" id="exampleInputAmount" v-model="path">
					  <span class="input-group-btn">
        				<button class="btn btn-default" type="button" @click="selectFolder()">...</button>
      				  </span>
				    </div>
				  </div>


				<a href="javascript:;" class="a-upload" >
				    <input type="file" name="" id="filepicker" webkitdirectory multiple>...
				</a>
				<!-- <button type="submit" class="btn btn-primary">Transfer cash</button> -->

				</div>
				<div class="file-list">
					<div id="tree"></div>
				</div>
				<button class="btn btn-primary btn-bim pull-right mt-30" @click="exportDWG()">导出</button>
      		</div>
	    </div>
	</div>

	<script src="/javascripts/bootstrap.min.js"></script> <!--引入vue.js-->
	<script src="/javascripts/vue.js"></script> <!--引入vue.js-->
	<script src="/javascripts/vue-resource.min.js"></script><!--引入vue.js 插件库 vue中的ajax-->
	<script src="/javascripts/jquery-1.11.1.min.js"></script>
	<script src="/javascripts/bootstrap-treeview.js"></script>
	<script type="text/javascript">
		  document.getElementById("filepicker").addEventListener("change", function(event) {
		  let output = document.getElementById("listing");
		  let files = event.target.files;
		  alert(files))
		  for (let i=0; i<files.length; i++) {
		    let item = document.createElement("li");
		    item.innerHTML = files[i].webkitRelativePath;
		    output.appendChild(item);
		  };
		}, false);
	</script>
	<script type="text/javascript">
		new Vue({
			el:'body',
			data:{
				isToNext:true,

				path: '',

				tree: [{text: '文件列表',
						state: {checked: true},
						nodes: []}
					  ],

			},

			created(){
				var that = this;
				JQ.getExportViews().then(function(res) {
					var info = JSON.parse(res);
					//console.log(info)
					info.forEach(function(e) {
						that.tree[0].nodes.push({text:e.Name, id:e.Id, state: {checked: true}})
					})
					//console.log(that.tree)

					$('#tree').treeview({
						data:that.tree,
						enabledLinks:true,
						showCheckbox: true,
						onNodeChecked: that.nodeChecked,
						onNodeUnchecked: that.nodeUnchecked
					})
				})

				//
				//document.getElementById("selectFolder").addEventListener('change', that.selectPath, false)
			},

			methods:{

				nodeChecked(event, node) {
					if (node.text == '文件列表') {
						$('#tree').treeview('checkAll', { silent: true });
					}
				},

				nodeUnchecked(event, node) {
					if (node.text == '文件列表') {
						$('#tree').treeview('uncheckAll', { silent: true });
					}
				},

				selectFolder() {
					var that = this
					JQ.getFolder(function(res) {
						if (res != '') {
							that.path = res;
						}
					})
					//console.log(event.target.files)
				},

				exportDWG() {
					var nodes = $('#tree').treeview('getSelected', null);
					var info = {path: this.path, nodes:[]}
					nodes.forEach(function(e) {
						info.nodes.push({Name:e.text, Id:e.id})
					})
					JQ.clickOK(JSON.stringify(infos));
				}
			}
		})
	</script>
</body>
</html>