<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>族库</title>
	<link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="../public/stylesheets/flex.css">
	<link rel="stylesheet" href="../public/stylesheets/font-awesome.css">
	<link rel="stylesheet" href="../public/stylesheets/jquery.treegrid.css">
	<link rel="stylesheet" href="../public/stylesheets/style.css">  
	<style type="text/css">
		.row-list.active{
			background-color:#dbdbdb;
		}
	</style>
</head>
<body>
	<div class="body-wrap">
	    <div class="panel-body box-wrap">
      		<div class="bg-box">
		 		<div class="row">
		 			<div class="col-sm-4">
		 				<div id="tree"></div>
		 			</div>
		 			<div class="col-sm-8">
		 				<div class="row">
		 					<div class="col-sm-4 mt-15 row-list pt-15" v-for="(index,list) in lists" :key="index" :class="{active: chooseList == list}" @click="clickList(list)">
		 						<img :src=list.url alt="" class="img-responsive text-center" >
		 						<p class="text-center">{{list.name}}</p>
		 					</div>
		 				</div>
		 			</div>
		 		</div>
      		</div>
	    </div>
	</div>
	<script src="../public/javascripts/jquery-1.11.1.min.js"></script> <!--引入vue.js-->
	<script src="../public/javascripts/bootstrap.min.js"></script> <!--引入bootstrap.js-->
	<script src="../public/javascripts/bootstrap-treeview.js"></script> <!--引入bootstrap-treeview.js-->
	<script src="../public/javascripts/vue.js"></script> <!--引入vue.js-->
	<script src="../public/javascripts/vue-resource.min.js"></script><!--引入vue.js 插件库 vue中的ajax-->
	
	<script type="text/javascript">

	</script>
	
	<script type="text/javascript">
		new Vue({
			el:'body',
			data:{
				isToNext:true,

				tree:[
				  {
				    text: "Parent 1",
				    nodes: [
				      {
				        text: "Child 1",
				        nodes: [
				          {text: "Grandchild"},
				          {text: "Grandchild"}
				        ]
				      },
				      {
				        text: "Child 2"
				      }
				    ]
				  },
				  {
				    text: "Parent 2"
				  },
				  {
				    text: "Parent 3"
				  },
				  {
				    text: "Parent 4"
				  },
				  {
				    text: "Parent 5"
				  }
				],
				lists:[
					{id:1,name:'一体式',url:'/img/img.png'},
					{id:2,name:'变压器主体',url:'/img/img.png'}
				],
				chooseList:{},
				isActive:false
			},
			created(){
				this.initTree()
			},
			methods:{
				initTree() {
					$('#tree').treeview({
						data:this.tree,
						enabledLinks:true,
						onNodeSelected: this.nodeSelected
					})
				},
				
				//选中节点
				nodeSelected(event, node) {
					alert(node.text)
				},
				clickList(obj){ //选中的某一项
					console.log(obj)
					this.chooseList = obj;
				}
			}
		})
	</script>
</body>
</html>