<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>族库</title>
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/flex.css">
	<link rel="stylesheet" href="/stylesheets/font-awesome.css">
	<link rel="stylesheet" href="/stylesheets/jquery.treegrid.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<script src="/javascripts/jquery-1.11.1.min.js"></script> <!--引入vue.js-->
    <script src="/javascripts/jquery.treegrid.min.js"></script>
    <script type="text/javascript">
      // $(document).ready(function() {
      //   $('.tree').treegrid();
      // });
    </script>
</head>
<body>
	<div class="body-wrap">
	    <div class="panel-body box-wrap">
      		<div class="bg-box">
				 <div class="row">
				 	<div class="col-sm-4">
				 		<div id="tree"></div>
				 	</div>
				 	<div class="col-sm-8">
				 		<div class="row">
				 			<div class="col-sm-4 mt-15">
				 				<img src="img/img-xs.png" alt="">
				 				<p>一体式</p>
				 			</div>
				 			<div class="col-sm-4 mt-15">
				 				<img src="img/img-xs.png" alt="">
				 				<p>变压器主体</p>
				 			</div>
				 			<div class="col-sm-4 mt-15">
				 				<img src="img/img-xs.png" alt="">
				 				<p>散热片</p>
				 			</div>
				 			<div class="col-sm-4 mt-15">
				 				<img src="img/img-xs.png" alt="">
				 				<p>中性点设备</p>
				 			</div>
				 			<div class="col-sm-4 mt-15">
				 				<img src="img/img-xs.png" alt="">
				 				<p>电缆终端设备</p>
				 			</div>
				 			<div class="col-sm-4 mt-15">
				 				<img src="img/img-xs.png" alt="">
				 				<p>全绝缘母线固定器-地面支撑式</p>
				 			</div>
				 			<div class="col-sm-4 mt-15">
				 				<img src="img/img-xs.png" alt="">
				 				<p>全绝缘母线固定器-地面支撑式</p>
				 			</div>
				 			<div class="col-sm-4 mt-15">
				 				<img src="img/img-xs.png" alt="">
				 				<p>全绝缘母线固定器-地面支撑式</p>
				 			</div>
				 		</div>
				 	</div>
				 </div>
      		</div>
	    </div>
	</div>

	<script src="/javascripts/bootstrap.min.js"></script> <!--引入bootstrap.js-->
	<script src="/javascripts/bootstrap-treeview.js"></script> <!--引入bootstrap-treeview.js-->
	<script src="/javascripts/vue.js"></script> <!--引入vue.js-->
	<script src="/javascripts/vue-resource.min.js"></script><!--引入vue.js 插件库 vue中的ajax-->
	<script type="text/javascript">

	</script>
	
	<script type="text/javascript">
		new Vue({
			el:'body',
			data:{
				isToNext:true,

				tree:[
				  {
				    text: "Parent 1",
				    nodes: [
				      {
				        text: "Child 1",
				        nodes: [
				          {text: "Grandchild"},
				          {text: "Grandchild"}
				        ]
				      },
				      {
				        text: "Child 2"
				      }
				    ]
				  },
				  {
				    text: "Parent 2"
				  },
				  {
				    text: "Parent 3"
				  },
				  {
				    text: "Parent 4"
				  },
				  {
				    text: "Parent 5"
				  }
				]
			},
			created(){
				this.initTree()
			},
			methods:{
				initTree() {
					$('#tree').treeview({
						data:this.tree,
						enabledLinks:true
					})
				}
			}
		})
	</script>
</body>
</html>