<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>族库</title>
	<link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="../public/stylesheets/flex.css">
	<link rel="stylesheet" href="../public/stylesheets/font-awesome.css">
	<link rel="stylesheet" href="../public/stylesheets/jquery.treegrid.css">
	<link rel="stylesheet" href="../public/stylesheets/style.css">  
	<style type="text/css">
		.row-list {
			border:2px solid transparent;
			border-radius: 6px;
			transition: all .2s;
		}
		.row-list:hover {
			cursor: pointer;
		}
		.row-list.active{
			border:2px solid #169bd5;

		}
		.row-list p {
			height:38px;
			overflow:hidden;
			display: -webkit-box;
			-webkit-line-clamp:2;
			-webkit-box-orient:vertical;
			word-break:break-all;

		}
		.max-height {
			min-height: 480px;
			max-height: 480px;
    		overflow-y: auto;
    		border-left:1px solid #dbdbdb;

		}
		.bg-auto-box {
			width:auto;
		}
		.bg-auto-box .col-sm-4 {
			width:200px;
		}
		.bg-auto-box .col-sm-8 {
			width:calc(100% - 200px);
		}
	</style>
</head>
<body>
	<div class="body-wrap">
	    <div class="panel-body box-wrap">
      		<div class="bg-box bg-auto-box"  >
		 		<div class="row">
		 			<div class="col-sm-4 ">
		 				<div id="tree"></div>
		 			</div>
		 			<div class="col-sm-8 max-height">
		 					<div class="col-sm-4 col-md-4 row-list pt-15" v-for="(index,list) in lists" :key="index" :class="{active: chooseList == list}" @click="clickList(list)" style="height:135px;">
		 						<img :src=list.img alt="" class="img-responsive center" style="height:70px;">
		 						<p class="text-center">{{list.name}}</p>
		 					</div>
		 			</div>
		 		</div>
      		</div>
	    </div>
	</div>
	<script src="../public/javascripts/jquery-1.11.1.min.js"></script> <!--引入vue.js-->
	<script src="../public/javascripts/bootstrap.min.js"></script> <!--引入bootstrap.js-->
	<script src="../public/javascripts/bootstrap-treeview.js"></script> <!--引入bootstrap-treeview.js-->
	<script src="../public/javascripts/vue.js"></script> <!--引入vue.js-->
	<script src="../public/javascripts/vue-resource.min.js"></script><!--引入vue.js 插件库 vue中的ajax-->
	
	<script type="text/javascript">

	</script>
	
	<script type="text/javascript">
		new Vue({
			el:'body',
			data:{
				isToNext:true,

				tree:[
				  {text:'电气一次', nodes:[
						{text:'变压器', nodes:[
							{text:'主变', state:{selected: true}},
							{text:'接地变'},
							{text:'站用变'}
						]},
						{text:'GIS'},
						{text:'避雷器'},
						{text:'穿墙套管'},
						{text:'电抗器'},
						{text:'电缆头'},
						{text:'电缆支吊架'},
						{text:'电流互感器'},
						{text:'电压互感器'},
						{text:'电容器'},
						{text:'断路器'},
						{text:'隔离开关'},
						{text:'接地开关'},
						{text:'绝缘子'},
						{text:'开关柜'},
						{text:'熔断器'},
						{text:'消弧线圈'},
						{text:'中性点接地设备'}
					]},
					{text:'土建', nodes:[
						{text:'单柱'},
						{text:'单柱梁'},
						{text:'人字柱'},
						{text:'三角梁'},
						{text:'栅栏'},
					]}
				],
				lists:[],
				chooseList:{},
				isActive:false
			},

			created(){
				this.initTree()
			},

			methods:{
				initTree() {
					$('#tree').treeview({
						data:this.tree,
						enabledLinks:true,
						onNodeSelected: this.nodeSelected
					})
					this.nodeSelected(null, $('#tree').treeview('getSelected')[0])
				},
				
				//选中节点
				nodeSelected(event, node) {
					var path = '';
					if (node.parentId != undefined)
					{
						var parent = $('#tree').treeview('getParent', node)
						if (parent.parentId != undefined) {
							path += $('#tree').treeview('getParent', parent).text + '\\'
						}
						path += parent.text + '\\'
					}
					
					path += node.text;
					//alert(path)
					JQ.getFamilyFileInfos(path).then(this.loadList)
				},

				loadList(info) {
					console.log(info)
					this.lists.length = 0
					var that = this;
					var infos = JSON.parse(info);
					infos.forEach(function(e) {
						e.img = e.img.replace('#', '%23')
						that.lists.push(e)
					})
					//this.lists = JSON.parse(info)
				},

				clickList(obj){ //选中的某一项
					console.log(obj)
					this.chooseList = obj;
				}
			}
		})
	</script>
</body>
</html>