<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <script type="text/javascript">
    		var arr = ['11','22','32','22','4']
			var newArr = [];
			for(var i=0;i<arr.length;i++){
			    var temp=arr[i];
			    var count=0;
			    for(var j=0;j<arr.length;j++){
			      if(arr[j]==temp){
			        count++;
			        arr[j]=-1;
			      }
			    }
			    if(temp != -1){
			      newArr.push(temp+":"+count)
			    }
			  }
			  console.log(newArr)




    </script>
  </body>
</html>
