<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登录页</title>
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<style type="text/css">
		body{
			display: flex;
			justify-content: center;
			align-items: center;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
				<div class="form-horizontal form-wrap">
					<h2 class="text-center">登 录</h2>
				  <div class="form-group">
				    <label for="inputEmail3" class="col-sm-3 control-label">用户名</label>
				    <div class="col-sm-7">
				      <input type="text" class="form-control" id="inputEmail3" placeholder="用户名" v-model="ruleLogin.username" >
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="inputPassword3" class="col-sm-3 control-label">密码</label>
				    <div class="col-sm-7">
				      <input type="password" class="form-control" id="inputPassword3" placeholder="密码" v-model="ruleLogin.pass" >
				    </div>
				  </div>
				  <div class="form-group">
				    <div class="col-sm-offset-3 col-sm-9">
				      <button  class="btn btn-primary" @click="submitForm('ruleLogin')">{{ status ? '正在登录中...' : '登录'}}</button>
				    </div>
				  </div>
				</div>
			</div>
		</div>
	</div>

	<script src="./javascripts/vue.js"></script>
	<script src="./javascripts/vue-resource.min.js"></script>
	<script>

		new Vue({
			el:'body',
			data:{
				status:false,
				ruleLogin:{
					username:'',
					pass:''
				}
			},
			methods:{
				submitForm(formName) {
					console.log("ddd")
					if(this.status) return
					var that = this;
					if(this.ruleLogin.username == 'hello' && this.ruleLogin.pass == 123456) {
						that.status = true
						console.log("success")
						window.location.href="/submit"
					}
					else {
						that.status = false
						console.log("error")
					}
				}
			},	
		})

	</script>
</body>
</html>