<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>设置项目信息</title>
	<link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="../public/stylesheets/style.css">
	<style type="text/css">
		.body-wrap {
			margin: 0;
			padding: 0;
			height: 100%;
		}

		#loginPanal {
			height: 100%;
			width: 100%;
    		display: flex;
   			align-items: center;
			justify-content: center;
		}

	</style>
</head>
<body>
	<div class="body-wrap">
		<div class="container"  id="loginPanal" v-if="!isLogin">
			<div class="row">
				<div class="col-sm-12">
					<div class="form-horizontal form-wrap">
						<h2 class="text-center">登 录</h2>
				  	<div class="form-group">
				    	<label for="inputEmail3" class="col-sm-3 control-label">用户</label>
				    	<div class="col-sm-7">
				      	<input type="text" class="form-control" id="inputEmail3" placeholder="用户名" v-model="ruleLogin.username" >
				    	</div>
				  	</div>
				  	<div class="form-group">
				    	<label for="inputPassword3" class="col-sm-3 control-label">密码</label>
				    	<div class="col-sm-7">
				      	<input type="password" class="form-control" id="inputPassword3" placeholder="密码" v-model="ruleLogin.pass" >
				    	</div>
				  	</div>
				  	<div class="form-group">
				    	<div class="col-sm-offset-3 col-sm-9">
				      	<button  class="btn btn-primary" @click="login()">{{ status ? '正在登录中...' : '登录'}}</button>
				    	</div>
				  	</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container" style="height:100%;" v-else>
			<div class="row" style="height:100%;">
				<div class="col-md-12" style="height:100%;">
					<div class="panel-wrap panel panel-primary" style="height:90%;">
				      <div class="panel-heading">
				        <h3 class="panel-title">项目信息</h3>
				      </div>
				      <div class="panel_body" style="max-height:90%">
				        <table class="table table-hover" id="project">
				        	<colgroup>
				        		<col class="col-xs-1">
							  		<col class="col-xs-2">
							  		<col class="col-xs-10">
							 		</colgroup>
					        <thead>
					          <tr>
					            <th>序号</th>
					            <th>任务编号</th>
					            <th>任务名称</th>
					          </tr>
					        </thead>
					        <tbody>
					          <tr v-for="(index,item) in tableList" @click="clickItems(item)" v-bind:class="{ info: trItem == item }">
					          	<td>
					          		{{index+1}}
					          	</td>
					            <td>{{item.TaskID}}</td>
					            <td>{{item.TaskName}}</td>					          
					          </tr>
					       
					        </tbody>
					      </table>
					      <!-- <span>checked name :{{checkedNames[0]}}</span> -->
				      </div>
				    </div>

				    <div class="button-wrap pull-right">
				    	<button class="btn btn-primary" @click="onClickOk">确定</button>
				    	<button class="btn btn-default" @click="onClickCancel">取消</button>
				    </div>
			</div>
		</div>
	</div>
	</div>
	

	<script src="../public/javascripts/vue.js"></script>
	<script src="../public/javascripts/vue-resource.min.js"></script>
	<script src="../public/javascripts/md5.min.js"></script>
	<script src="../public/javascripts/jquery-1.11.1.min.js"></script>
	<script>

		new Vue({
			el:'body',
			data:{
				status:false, //登录按钮状态
				isLogin:false,  // 判断是否登录，若登录，则登录表单隐藏
				trItem:{}, //项目信息表格行数据
				ruleLogin:{  //登录表单双向绑定
					username:'',
					pass:''
				},
				tableList:[], //项目信息列表
				/*result:{
					url:"http://192.168.0.11/JQWebMVC/Design/GCADAPI/Process",
					sheets:'',
					taskInfo:,
					empId:''
				},*/
				//sheetsList:[], //图纸列表
				//checkedNames:[], //复选框
				//checkAll:false
				projectInfo:{}
			},

			created() {
				//自动登陆
				this.ruleLogin.username = localStorage.getItem('JQUser');
				this.ruleLogin.pass = localStorage.getItem('JQPassword');
				if (this.ruleLogin.username != null && this.ruleLogin.username != ''
				    && this.ruleLogin.pass != null && this.ruleLogin.pass != '') {
					this.login()
				}
			},

			methods:{
				login() {
					if (this.status) {
						return
					}
					var that = this;
					$.ajax({
						url:'http://192.168.0.11/JQWebMVC/Design/GCADAPI/Process',
						type:'POST',
						data:{
							command:"gettask",
							a:that.ruleLogin.username,
							p:md5(that.ruleLogin.pass)
						},
						success:function(res) {
							//保存用户名密码
							localStorage.setItem('JQUser', that.ruleLogin.username)
							localStorage.setItem('JQPassword', that.ruleLogin.pass)

							var obj = JSON.parse(res)
							that.isLogin = true;
							console.log(obj)
							var data = obj.data;
							that.resData = data;
							data.forEach(function(e,i) {
								that.tableList.push({TaskEmpID:e.TaskEmpID, TaskID:e.TaskID, TaskName:e.TaskName})
							})
							//that.result.empId = obj.empid;
							//that.loadSheets();
						},
						error:function(error) {
							console.log('error')
						}
					})
				},

				clickItems(obj) {
					var that = this;
					this.trItem = obj
					// console.log(obj)
					// console.log(this.resData)
					for (var i = 0 ; i < that.resData.length; i++) {
						if (that.resData[i].TaskID == obj.TaskID) {
							//console.log(JSON.stringify(that.resData[i]))
							//that.result.taskInfo = JSON.stringify(that.resData[i])
							var taskInfo = that.resData[i].TaskName
							var start = taskInfo.indexOf("[")
							var mid = taskInfo.indexOf("]")
							var end = taskInfo.indexOf(" >")
							that.projectInfo.项目编号 = taskInfo.substring(start + 1, mid)
							that.projectInfo.项目名称 = taskInfo.substring(mid + 1, end)
							//console.log(that.projectInfo)
						}
					}
				},
				/*checkedAll() { //全选 或 反选
					var that = this;

					var checkedNames = [];
					if (!this.checkAll) {
						that.sheetsList.forEach(function(e,i) {
							checkedNames.push(e.name)
						})
					}
					that.checkedNames = checkedNames;

				},
				loadSheets() {
					var that = this;
					JQ.getSheets().then(function(res) {
						//console.log(res);
						var sheets = JSON.parse(res);
						sheets.forEach(function(e,i){
							//console.log(e)
							//that.result.sheets += e;
							that.sheetsList.push({name:e})
						})
					});
				},*/

				onClickOk() {
					if (window.JQ) {
						JQ.clickOK(JSON.stringify(this.projectInfo));
					}
				},

				onClickCancel() {
					if (window.JQ) {
						JQ.clickCancel();
					}
				}
			}

			/*watch:{
				'checkedNames':function() {
					var that = this;
					if (this.sheetsList.length === this.checkedNames.length) {
						that.checkAll = true;
					} else {
						that.checkAll = false;
					}
				},

				checkAll(yes) {
					this.checkAll = yes;
				}
			}	*/
		})

	</script>
</body>
</html>