<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>短路计算</title>
	<link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="../public/stylesheets/bootstrap-datetimepicker.min.css">
	<link rel="stylesheet" href="../public/stylesheets/flex.css">
	<link rel="stylesheet" href="../public/stylesheets/font-awesome.css">
	<link rel="stylesheet" href="../public/stylesheets/jquery.treegrid.css">
	<link rel="stylesheet" href="../public/stylesheets/style.css">
	<script src="../public/javascripts/jquery-1.11.1.min.js"></script> <!--引入vue.js-->
	<style type="text/css">
		.ischeck input,.ischeck select,.ischeck .input-group{
			background-color:#eee;
			pointer-events: none;
		}
		.col-flex {
			display: flex;
			align-items: center;
		}
	</style>
</head>
<body>
	<div class="body-wrap">
	    <div class="panel-body box-wrap">
      		<div class="bg-box-0">
				<div class="bg-box-b">
					<div class="form-horizontal">
					  <div class="form-group">
					    <label class="col-sm-2 control-label">系统短路容量</label>
					    <div class="col-sm-10 pl-0">
					      <input type="text" class="form-control input-sm dl" style="width:100px;" v-model="Sk"> KVA
							<label>&nbsp;&nbsp;系统电压</label>
							<select name="" id="" class="form-control input-sm dl" v-cloak style="width:100px;" v-model="U1" @change="changeU1()">
								<option v-for="option in UhighArr" :value="option.name">
									{{option.name}}
								</option>
							</select> KV
					    </div>
					  </div>
					  <div class="form-group">
					    <label class="col-sm-2 control-label">线路长度</label>
					    <div class="col-sm-10 pl-0">
					      <input type="text" class="form-control input-sm dl" style="width:100px;" v-model="line_length"> KM
							<label>&nbsp;&nbsp;规格</label>
							<select name="" id="" class="form-control input-sm dl" v-cloak style="width:100px;" v-model="line_standard">
								<option v-for="option in lineOptions">
									{{option}}
								</option>
							</select>
							<select name="" id="" class="form-control input-sm dl" v-cloak style="width:100px;" v-model="lineType">
								<option v-for="option in lineTypes">
									{{option}}
								</option>
							</select>

					    </div>
					  </div>
					</div>

      				<div class="group-item mt-15">
      					<div class="panel panel-info penel-fix">
							<div class="panel-heading">变压器</div>
							<div class="panel-body-wraps ptb-5">
								<div class="form-horizontal">
								  <div class="form-group">
								    <label class="col-sm-2 control-label">变压器台数</label>
								    <div class="col-sm-3">
								    	<div class="input-group">
		      								<input type="text" class="form-control input-sm" aria-label="..." v-model="transformer_stage">
		      								<div class="input-group-btn">
        										<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span></button>
	        										<ul class="dropdown-menu dropdown-menu-right">
	        											<li v-for="list in transformerStageLists" @click="selectTransformerStageOne(this)">
	        												<a href="#">{{list}}</a>
	        											</li>

	        										</ul>
												</div>
    									</div>

								      		<!-- <input type="text" class="form-control input-sm dl" style="width:100px" v-model="transformer_stage">
								     		 <label>&nbsp;&nbsp;容量 </label>
								      		<input type="text" class="form-control input-sm dl" style="width:100px" v-model="transformer_capacity"> MVA -->
								    </div>
								     <label class="col-sm-2 control-label">容量</label>
								    <div class="col-sm-3">
								    	<div class="input-group">
		      								<input type="text" class="form-control input-sm" aria-label="..." v-model="transformer_capacity">
		      								<div class="input-group-btn">
        										<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span></button>
	        										<ul class="dropdown-menu dropdown-menu-right">
	        											<li v-for="list in transformerCapacityList" @click="selectTransformerCapacityOne(this)">
	        												<a href="#">{{list}}</a>
	        											</li>

	        										</ul>
												</div>
    									</div>

								      		<!-- <input type="text" class="form-control input-sm dl" style="width:100px" v-model="transformer_stage">
								     		 <label>&nbsp;&nbsp;容量 </label>
								      		<input type="text" class="form-control input-sm dl" style="width:100px" v-model="transformer_capacity"> MVA -->
								    </div>
								  </div>

								  <div class="row plr-15">
								    	<div class="col-sm-5 col-md-5">
								    		<div class="panel panel-default panel-chort-circuit">
											  <div class="panel-heading">
											  		<div class="radio">
													  <label>
													    <input type="radio" name="optionsRadios1" id="optionsRadios1" :value="0" v-model="radio_checked" :checked='isDoubleCheck'>
													    双绕组
													  </label>
													</div>
											  		<!-- <div class="checkbox" >
													    <label>
													      <input type="checkbox" v-model="double_checked"> 双烧组
													    </label>
												    </div> -->
											  </div>
											  <div class="panel-body" :class="{ischeck:!isDoubleCheck}">
											  		<div class="form-group">
												  		<label class="col-sm-3 control-label">高压</label>
										    			<div class="col-sm-9 col-flex">
										    				<!-- <div class="input-group" style="width: 80%;float: left;">
									    						<input type="text" class="form-control input-sm" aria-label="...">
							      								<div class="input-group-btn">
					        										<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span></button>
						        										<ul class="dropdown-menu dropdown-menu-right">
					          												<li><a href="#">1s</a></li>
					          												<li><a href="#">2s</a></li>
						        										</ul>
																	</div>
					    									</div> &nbsp;&nbsp;KV -->
										    				<select name="" id=""  class="form-control input-sm dl" v-cloak style="width:85%" v-model="U1" @change="changeU1()">
																<option v-for="option in UhighArr">
																	{{option.name}}
																</option>
													        </select>&nbsp;  KV
										    			</div>
												  	</div>
												  	 <div class="form-group">
												  		<label class="col-sm-3 control-label">低压</label>
										    			<div class="col-sm-9 col-flex">
										    				<!-- <div class="input-group" style="width: 80%;float: left;">
										    					<input type="text" class="form-control input-sm" aria-label="...">
							      								<div class="input-group-btn">
					        										<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span></button>
						        										<ul class="dropdown-menu dropdown-menu-right">
					          												<li><a href="#">1s</a></li>
					          												<li><a href="#">2s</a></li>
						        										</ul>
																	</div>
					    									</div> &nbsp;&nbsp;KV -->
										    				<select name="" id=""  class="form-control input-sm dl" v-cloak style="width:85%" v-model="double_group_low_tension">
																<option v-for="option in UlowArr">
																	{{option.name}}
																</option>
													        </select>&nbsp; KV
										    			</div>
												  	</div>
												  	<div class="form-group">
												  		<label class="col-sm-3 control-label">Ud%</label>
										    			<div class="col-sm-9 col-flex">
										    				<div class="input-group " style="width: 85%;float: left;">
										    					<input type="text" class="form-control input-sm" aria-label="..." v-model="double_group_ud">
							      								<div class="input-group-btn">
					        										<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span></button>
						        										<ul class="dropdown-menu dropdown-menu-right">
						        											<li v-for="list in doubleGroupUdList" @click="selectDoubleGroupUdOne(this)">
						        												<a href="#">{{list}}</a>
						        											</li>

						        										</ul>
				  												</div>
						    								</div> &nbsp;&nbsp;%
										    				<!-- <input type="text" class="form-control input-sm dl" style="width:90%" v-model="double_group_ud"> % -->
										    			</div>
												  	</div>


												  </div>
											</div>
								    	</div>
								    	<div class="col-sm-7 col-md-7">
								    		<div class="panel panel-default panel-chort-circuit">
											    <div class="panel-heading">
											    <div class="radio">
												  <label>
												    <input type="radio" name="optionsRadios2" id="optionsRadios2" :value="1" v-model="radio_checked" :checked='isThreeCheck'>
												    三绕组
												  </label>
												</div>
											  	<!-- <div class="checkbox" >
													    <label>
													      <input type="checkbox" v-model="three_checked"> 三烧组
													    </label>
												 </div> -->
											  </div>
											  <div class="panel-body" :class="{ischeck:!isThreeCheck}">
											  		<!-- U1->高压
											  		U2->中压
											  		U3->低压 -->
											    	<div class="row mt-5">
											    		<div class="col-sm-6 col-md-6 p-0">
											    			<label class="col-sm-4 control-label">高压</label>
											    			<div class="col-sm-8">
											    				<!-- <div class="input-group">
								      								<input type="text" class="form-control input-sm" aria-label="...">
								      								<div class="input-group-btn">
						        										<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span></button>
							        										<ul class="dropdown-menu dropdown-menu-right">
						          												<li><a href="#">1s</a></li>
						          												<li><a href="#">2s</a></li>
							        										</ul>
					  												</div>
						    									</div> -->
											    				<select name="" id=""  class="form-control input-sm dl" v-cloak style="width:80%" v-model="U1" @change="changeU1()">
																	<option v-for="option in UhighArr">
																		{{option.name}}
																	</option>
														        </select> KV
											    			</div>
											    		</div>
											    		<div class="col-sm-6 col-md-6 p-0">
											    			<label class="col-sm-3 control-label">Ud%12</label>
											    			<div class="col-sm-9 col-flex">
										    					<div class="input-group" style="width: 85%;float: left;">
								      								<input type="text" class="form-control input-sm" aria-label="..." v-model="three_group_ud12">
								      								<div class="input-group-btn">
						        										<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span></button>
							        										<ul class="dropdown-menu dropdown-menu-right">
							        											<li v-for="list in threeGroupUd12" @click="selectThreeGroupUd12One(this)">
							        												<a href="#">{{list}}</a>
							        											</li>

							        										</ul>
					  												</div>
						    									</div> &nbsp;&nbsp;%
						    									<!-- <input type="text" class="form-control input-sm dl" style="width:80%" v-model="three_group_ud12"> % -->
											    			</div>
											    		</div>
											    	</div>
											  		<div class="row mt-5">
											    		<div class="col-sm-6 col-md-6 p-0">
											    			<label class="col-sm-4 control-label">中压</label>
											    			<div class="col-sm-8">
											    				<!-- <div class="input-group">
								      								<input type="text" class="form-control input-sm" aria-label="...">
								      								<div class="input-group-btn">
						        										<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span></button>
							        										<ul class="dropdown-menu dropdown-menu-right">
						          												<li><a href="#">1s</a></li>
						          												<li><a href="#">2s</a></li>
							        										</ul>
					  												</div>
						    									</div>
 -->											    				<select name="" id=""  class="form-control input-sm dl" v-cloak style="width:80%" v-model="three_group_u2">
																		<option v-for="option in UlowArr">
																			{{option.name}}
																		</option>
														        </select> KV
											    			</div>
											    		</div>
											    		<div class="col-sm-6 col-md-6 p-0">
											    			<label class="col-sm-3 control-label">Ud%13</label>
											    			<div class="col-sm-9 col-flex">
										    					<div class="input-group" style="width: 85%;float: left;">
								      								<input type="text" class="form-control input-sm" aria-label="..." v-model="three_group_ud13">
								      								<div class="input-group-btn">
						        										<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span></button>
							        										<ul class="dropdown-menu dropdown-menu-right">
						          												<li v-for="list in threeGroupUd13" @click="selectThreeGroupUd13One(this)">
							        												<a href="#">{{list}}</a>
							        											</li>
							        										</ul>
					  												</div>
						    									</div> &nbsp;&nbsp;%
											    				<!-- <input type="text" class="form-control input-sm dl" style="width:80%" v-model="three_group_ud13"> % -->
											    			</div>
											    		</div>
											    	</div>
											    	<div class="row mt-5">
											    		<div class="col-sm-6 col-md-6 p-0">
											    			<label class="col-sm-4 control-label">低压</label>
											    			<div class="col-sm-8">
											    				<!-- <div class="input-group">
								      								<input type="text" class="form-control input-sm" aria-label="...">
								      								<div class="input-group-btn">
						        										<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span></button>
							        										<ul class="dropdown-menu dropdown-menu-right">
						          												<li><a href="#">1s</a></li>
						          												<li><a href="#">2s</a></li>
							        										</ul>
					  												</div>
						    									</div> -->
											    				<select name="" id=""  class="form-control input-sm dl" v-cloak style="width:80%" v-model="three_group_u3">
																		<option v-for="option in UlowArr">
																			{{option.name}}
																		</option>
														        </select> KV
											    			</div>
											    		</div>
											    		<div class="col-sm-6 col-md-6 p-0">
											    			<label class="col-sm-3 control-label">Ud%23</label>
											    			<div class="col-sm-9 col-flex">
										    					<div class="input-group" style="width: 85%;float: left;">
								      								<input type="text" class="form-control input-sm" aria-label="..." v-model="three_group_ud23">
								      								<div class="input-group-btn">
						        										<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span></button>
							        										<ul class="dropdown-menu dropdown-menu-right">
						          												<li v-for="list in threeGroupUd23" @click="selectThreeGroupUd23One(this)">
							        												<a href="#">{{list}}</a>
							        											</li>
							        										</ul>
					  												</div>
						    									</div> &nbsp;&nbsp;%
											    				<!-- <input type="text" class="form-control input-sm dl" style="width:80%" v-model="three_group_ud23"> % -->
											    			</div>
											    		</div>
											    	</div>

											  </div>
											</div>
								    	</div>
								  </div>
								</div>
							</div>
						</div>
      				</div>
      				<div class="group-item mt-15">
      					<div class="panel panel-info penel-fix">
							<div class="panel-heading">
					<!-- 		<div class="radio m-0">
							  <label>
							    <input type="radio" name="optionsRadios3" id="optionsRadios3" value="option3"  v-model="dynamo_checked">
							    发电机
							  </label>
							</div> -->
								<div class="checkbox m-0" :class="{ischeck:!isDynamoEnable}">
								    <label>
								      <input type="checkbox" v-model="dynamo_checked"> 发电机
								    </label>
							    </div>
							</div>
							<div class="panel-body-wrap ptb-5" :class="{ischeck:isDynamoCheck}">
								<div class="form-horizontal">
								  <div class="form-group">
								    <label class="col-sm-2 control-label">Xd"%</label>
								    <div class="col-sm-10 pl-0">
							      		<input type="text" class="form-control input-sm dl" style="width:100px" v-model="dynamo_xd">
							     		<label>&nbsp;&nbsp;Pe </label>
							      		<input type="text" class="form-control input-sm dl" style="width:100px" v-model="dynamo_pe"> MW
								        <label>&nbsp;&nbsp;CosQ </label>
							      		<input type="text" class="form-control input-sm dl" style="width:100px" v-model="dynamo_cosq">
								    </div>
								  </div>
								</div>
							</div>
						</div>
      				</div>

      				<div class="group-item mt-15">
      					<div class="panel panel-info penel-fix">

							<div class="panel-body-wraps p-5">
								<div class="form-horizontal">
								  <div class="form-group">
								    <label class="col-sm-2 control-label">工程名称</label>
								    <div class="col-sm-4 pl-0">
							      		<input type="text" class="form-control input-sm dl" style="width:100%" v-model="project_name">
								    </div>
								    <label class="col-sm-2 control-label">日期</label>
								    <div class="col-sm-4 pl-0">

							      		<input type="text" class="form-control input-sm dl" style="width:100%" v-model="date">
								    </div>
								  </div>
								  <div class="form-group">
								    <label class="col-sm-3 control-label">热稳定时间</label>
								    <div class="col-sm-4 pl-0 col-flex" >
							      		<div class="input-group dropup" style="width: 85%;float: left;">
		      								<input type="text" class="form-control input-sm" aria-label="..." v-model="hot_stability_time">
		      								<div class="input-group-btn">
        										<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span></button>
	        										<ul class="dropdown-menu dropdown-menu-right">
          												<li v-for="list in hotStabilityTimeList" @click="selectHotStabilityTimeOne(this)">
	        												<a href="#">{{list}}</a>
	        											</li>
	        										</ul>
												</div>
    									</div> &nbsp;&nbsp;S
						    		</div>
								    <label class="col-sm-2 control-label">计算人</label>
								    <div class="col-sm-3 pl-0">
							      		<input type="text" class="form-control input-sm dl" style="width:100%" v-model="calculate_people" >
								    </div>
								     <label class="col-sm-2 control-label">校核</label>
								    <div class="col-sm-3 pl-0">
							      		<input type="text" class="form-control input-sm dl" style="width:100%" v-model="check">
								    </div>
								  </div>
								</div>
								<!-- <div class="row">
									<div class="col-sm-6 col-md-6">
										<button class="btn btn-info btn-bim" @click="calc()">计算</button>
										<br>
										<textarea name="" id="" rows="4" class="form-control" placeholder="结果文本" multiple v-model="resultText"></textarea>
									</div>
									<div class="col-sm-6 col-md-6">
											<div class="form-horizontal">
								  				<div class="form-group">
													<label class="col-sm-3 control-label">TJS</label>
									    			<div class="col-sm-9">
									    				<input type="text" class="form-control input-sm dl" style="width:80%" v-model="TJS"> S
									    			</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">工程名称</label>
									    			<div class="col-sm-9">
									    				<input type="text" class="form-control input-sm dl" style="width:80%" v-model="project_name">
									    			</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">日期</label>
									    			<div class="col-sm-9">
									    				<input type="text" class="form-control input-sm dl" style="width:80%" v-model="date">
									    			</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">计算人</label>
									    			<div class="col-sm-9">
									    				<input type="text" class="form-control input-sm dl" style="width:80px" v-model="calculate_people">
									    				<label>&nbsp;&nbsp;校核</label>
							      						<input type="text" class="form-control input-sm dl" style="width:85px" v-model="check">
									    			</div>
												</div>
											</div>
									</div>
								</div> -->
							</div>
						</div>
      				</div>

      				<div class="bg-footer pull-right">
						<button class="btn btn-primary btn-bim btn-sm mb-0 ml-15 pull-right" @click="exportCalcSheet()">导出计算书</button>
      					<button class="btn btn-primary btn-bim btn-sm mb-0 pull-right" @click="calc()" data-toggle="modal" data-target="#CalcSheetModel">计算</button>

					</div>
				</div>
      		</div>
	    </div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="CalcSheetModel" tabindex="-1" role="dialog" aria-labelledby="CalcSheetModel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">计算结果</h4>
	      </div>
	      <div class="modal-body">
	        	<textarea name="" class="form-control" id="" cols="30" rows="5" v-model="resultText"></textarea>
	      </div>
	        <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="body-full-mask" v-if="isShowMask" v-cloak>
		<div class="app-loading">
	  		<div class="box">
	  			<div class="line-spin-fade-loader">
	  				<div></div>
	  				<div></div>
	  				<div></div>
	  				<div></div>
	  				<div></div>
	  				<div></div>
	  				<div></div>
	  				<div></div>
	  			</div>
	  			<p>{{showMaskInfo}}</p>

	  		</div>
  		</div>
	</div>

	<script src="../public/javascripts/bootstrap.min.js"></script> <!--引入vue.js-->
	<script src="../public/javascripts/vue.js"></script> <!--引入vue.js-->
	<script src="../public/javascripts/vue-resource.min.js"></script><!--引入vue.js 插件库 vue中的ajax-->

	<script type="text/javascript">
		vue = new Vue({
			el:'body',
			data:{
				Sk:'', //系统短路容量
				U1:'110',//系统电压
				line_length:'',//线路长度
				line_standard:'LGJQ-300',//线路规格
				lineType:'单导线',//线路规格子内容
				transformer_stage:'1',//变压器台数
				transformer_capacity:'1',//变压器容量
				transformerStageLists:[1,2,3,4,5],  //变压器台数选择
				transformerCapacityList:[1,2,31.5,50,63,88,100],  //变压器容量选择

				doubleGroupUdList:[10.5,12,14,17], //双绕组Ud%
				double_group_ud:'10.5',//双绕组Ud
				double_group_low_tension:'10',//双绕组低压

				threeGroupUd12:[10.5,12,14,17],//三绕组ud12
				threeGroupUd13:[10.5,12,14,17],//三绕组ud13
				threeGroupUd23:[10.5,12,14,17],//三绕组ud23
				three_group_ud12:'10.5',//三绕组ud12
				three_group_u2:'35',//三绕组u2
				three_group_ud13:'10.5',//三绕组ud13
				three_group_u3:'10',//三绕组u3
				three_group_ud23:'10.5',//三绕组ud23

				dynamo_xd:'',//发电机 Xd%
				dynamo_pe:'',//发电机pe
				dynamo_cosq:'',//发电机cosq

				resultText:'',//结果文本
				hot_stability_time:'', //热稳定时间
				hotStabilityTimeList:[1,2,3],//热稳定时间选择
				TJS:'1',//TJS
				project_name:'',//工程名称
				date: '',//日期
				calculate_people:'',//计算人
				check:'',//校审
				showMaskInfo:'正在获取族类型信息',

				lineOptions:[ // 架空线规格
					'LGJ、LJ-50',
					'LGJ、LJ-70',
					'LGJ、LJ-95',
					'LGJ、LJ-120',
					'LGJ-150',
					'LGJ-185',
					'LGJ-240',
					'LGJQ-300',
					'LGJQ-400'
				],
				lineTypes: ['单导线'],  //架空线类型，单导线，双分裂，三分裂

				UhighArr:[ //系统电压 下拉框
					{name:'110'},
					{name:'220'},
					{name:'500'}
				],

				UlowArr:[  //低压数组
					{name:'110'},
					{name:'35'},
					{name:'10'}
				],

				lineTable:[  //线路规格计算表
					{U:'110', line:'LGJ、LJ-50', type:'单导线', x:0.442, xpu:0.00334},
					{U:'110', line:'LGJ、LJ-70', type:'单导线', x:0.432, xpu:0.00327},
					{U:'110', line:'LGJ、LJ-95', type:'单导线', x:0.416, xpu:0.00315},
					{U:'110', line:'LGJ、LJ-120', type:'单导线', x:0.409, xpu:0.00309},
					{U:'110', line:'LGJ-150', type:'单导线', x:0.403, xpu:0.00305},
					{U:'110', line:'LGJ-185', type:'单导线', x:0.395, xpu:0.00299},
					{U:'110', line:'LGJ-240', type:'单导线', x:0.388, xpu:0.00293},
					{U:'110', line:'LGJQ-300', type:'单导线', x:0.382, xpu:0.00289},
					{U:'110', line:'LGJQ-400', type:'单导线', x:0.373, xpu:0.00282},

					{U:'220', line:'LGJ-185', type:'单导线', x:0.440, xpu:0.000832},
					{U:'220', line:'LGJ-240', type:'单导线', x:0.342, xpu:0.000817},
					{U:'220', line:'LGJQ-300', type:'单导线', x:0.427, xpu:0.000807},
					{U:'220', line:'LGJQ-400', type:'单导线', x:0.417, xpu:0.000788},
					{U:'220', line:'LGJQ-500', type:'单导线', x:0.411, xpu:0.000777},
					{U:'220', line:'LGJQ-600', type:'单导线', x:0.405, xpu:0.000766},
					{U:'220', line:'LGJQ-700', type:'单导线', x:0.398, xpu:0.000752},

					{U:'220', line:'LGJ-185', type:'双分裂', x:0.315, xpu:0.000595},
					{U:'220', line:'LGJ-240', type:'双分裂', x:0.310, xpu:0.000586},
					{U:'220', line:'LGJQ-300', type:'双分裂', x:0.308, xpu:0.000582},
					{U:'220', line:'LGJQ-400', type:'双分裂', x:0.303, xpu:0.000573},
					{U:'220', line:'LGJQ-500', type:'双分裂', x:0.300, xpu:0.000567},
					{U:'220', line:'LGJQ-600', type:'双分裂', x:0.297, xpu:0.000561},
					{U:'220', line:'LGJQ-700', type:'双分裂', x:0.294, xpu:0.000556},

					{U:'500', line:'LGJQ-300', type:'三分裂', x:0.302, xpu:0.00011},
					{U:'500', line:'LGJQ-400', type:'三分裂', x:0.299, xpu:0.000108},
					{U:'500', line:'LGJQ-500', type:'三分裂', x:0.297, xpu:0.000108},
					{U:'500', line:'LGJQ-600', type:'三分裂', x:0.295, xpu:0.000107},
					{U:'500', line:'LGJQ-700', type:'三分裂', x:0.292, xpu:0.000106},
				],

				isDoubleCheck:true, //双绕组与三绕组 是否可编辑效果
				isThreeCheck:false,
				isDynamoEnable: true, //发电机是否可以选择
				isDynamoCheck: false,//发电机是否可编辑效果
				//double_checked:'',//双绕组 选中值
				//three_checked:'',//三绕组 选中值
				radio_checked:'',//双绕组三绕组选中值
				calcResult:'',//计算结果
			},

			created(){
				this.date = this.getDate()
			},

			methods:{
				//变压器台数选择控制
				selectTransformerStageOne(e){
					this.transformer_stage = e.list
				},
				//变压器台数容量控制
				selectTransformerCapacityOne(e) {
					this.transformer_capacity = e.list
				},
				selectDoubleGroupUdOne(e) {
					this.double_group_ud = e.list
				},
				//三绕组ud12
				selectThreeGroupUd12One(e) {
					this.three_group_ud12 = e.list
				},
				//三绕组ud13
				selectThreeGroupUd13One(e) {
					this.three_group_ud13 = e.list
				},
				//三绕组ud23
				selectThreeGroupUd23One(e) {
					this.three_group_ud23 = e.list
				},
				selectHotStabilityTimeOne(e) {
					this.hot_stability_time = e.list
				},

				getDate() {
					var date = new Date()
					return date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate()
				},
				//当改变系统电压选择框获取选中的值触发
				changeU1() {
					var that = this;

					if (that.U1 == 110) {
						that.lineOptions = [
							'LGJ、LJ-50',
							'LGJ、LJ-70',
							'LGJ、LJ-95',
							'LGJ、LJ-120',
							'LGJ-150',
							'LGJ-185',
							'LGJ-240',
							'LGJQ-300',
							'LGJQ-400'
						]
						that.lineTypes = ['单导线']
						that.transformerCapacityList = [1,2,31.5,50,63,88,100]
					} else if (that.U1 == 220) {
						that.lineOptions = [
							'LGJ-185',
							'LGJ-240',
							('LGJQ-300'),
							('LGJQ-400'),
							('LGJQ-500'),
							('LGJQ-600'),
							('LGJQ-700')
						]
						that.lineTypes = [('单导线'), ('双分裂')]
						that.transformerCapacityList = [120, 150, 180, 240]
					} else {
						that.lineOptions = [
							('LGJQ-300'),
							('LGJQ-400'),
							('LGJQ-500'),
							('LGJQ-600'),
							('LGJQ-700')
						]
						that.lineTypes = ['三分裂']
						that.transformerCapacityList = [300]
					}
					that.line_standard = 'LGJQ-300'
					that.lineType = that.lineTypes[0]
					transformer_capacity = that.transformerCapacityList[0]
				},

				getLineX() {
					/*var that = this
					that.lineTable.forEach(function(e) {
						console.log(e.U + '==' + that.U1)
						console.log(e.line + '==' + that.line_standard)
						console.log(e.type + '==' + that.lineType)
						if (e.U == that.U1 && e.line == that.line_standard
						    && e.type == that.lineType) {
							return e.x
						}
					})*/
					var that = this
					for (var i = 0; i < this.lineTable.length; i++) {
						//console.log(this.lineTable[i].U + '==' + that.U1 + (this.lineTable[i].U == that.U1))
						//console.log(this.lineTable[i].line + '==' + that.line_standard + (this.lineTable[i].line == that.line_standard))
						//console.log(this.lineTable[i].type + '==' + that.lineType + (this.lineTable[i].type == that.lineType))
						if (this.lineTable[i].U == that.U1
						    && this.lineTable[i].line == that.line_standard
						    && this.lineTable[i].type == that.lineType) {
							return this.lineTable[i].x
						}
					}
				},

				getCalcInfo() {
					var that = this
					var info = {
						Sk: that.Sk,
						U1: that.U1,
						LineLen: that.line_length,
						lineStandard: that.line_standard,
						//LineX:0.4,
						Transformer:[]
					}

					//获取线路电抗
					info.LineX = that.getLineX()

					//变压器信息
					for (var i = 0; i < that.transformer_stage; i++) {
						if (that.isDoubleCheck) {  //双绕组
							info.Transformer.push({
								Se:that.transformer_capacity,  //容量
								Winding:2,
								Udpercent12:that.double_group_ud,
								U1:that.U1,
								U2:that.double_group_low_tension
							})
						} else {
							info.Transformer.push({
								Se:that.transformer_capacity,  //容量
								Winding:3,
								Udpercent12:that.three_group_ud12,
								Udpercent13:that.three_group_ud13,
								Udpercent23:that.three_group_ud23,
								U1:that.U1,
								U2:that.three_group_u2,
								U3:that.three_group_u3,
							})
						}
					}

					//发电机信息
					if (that.isDynamoCheck) {
						info.Generator = {
							CosQ:that.dynamo_cosq,
							Xdpercent:that.dynamo_xd,
							Pe:that.dynamo_pe
						}
					}

					return info
				},

				calc() { //计算
					var that = this
					var info = that.getCalcInfo()
					JQ.shortCalc(JSON.stringify(info)).then(function(result) {
						that.resultText = result
					})
				},

				exportCalcSheet() { //导出计算书
					var that = this
					var info = that.getCalcInfo()
					info.TJS = that.TJS
					info.Date = that.date
					info.CalcPeople = that.calculate_people
					info.CheckPeople = that.check
					JQ.clickOK(JSON.stringify(info))
				}
			},

			watch:{
				radio_checked:{
					handler:function(val, oldVal) {
						console.log(val)
						if (val == 0) {
							this.isDoubleCheck = true
							this.isThreeCheck = false
						}
						else {
							this.isDoubleCheck = false
							this.isThreeCheck = true
						}


					}
				},

				dynamo_checked:{
					handler:function(val,oldVal) {
						if(val) {
							this.isDynamoCheck = false
						}
						else {
							this.isDynamoCheck = true
						}
					}
				}
			}
		})
	</script>
</body>
</html>