<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>提交图纸</title>
	<link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="../public/stylesheets/style.css">
</head>
<body>
	<div class="body-wrap">
		<div class="container" v-if="!isLogin">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
				<div class="form-horizontal form-wrap">
					<h2 class="text-center">登 录</h2>
				  <div class="form-group">
				    <label for="inputEmail3" class="col-sm-3 control-label">用户名</label>
				    <div class="col-sm-7">
				      <input type="text" class="form-control" id="inputEmail3" placeholder="用户名" v-model="ruleLogin.username" >
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="inputPassword3" class="col-sm-3 control-label">密码</label>
				    <div class="col-sm-7">
				      <input type="password" class="form-control" id="inputPassword3" placeholder="密码" v-model="ruleLogin.pass" >
				    </div>
				  </div>
				  <div class="form-group">
				    <div class="col-sm-offset-3 col-sm-9">
				      <button  class="btn btn-primary" @click="submitForm('ruleLogin')">{{ status ? '正在登录中...' : '登录'}}</button>
				    </div>
				  </div>
				</div>
			</div>
		</div>
	</div>
	<div class="container" v-else>
		<div class="row">
			<div class="col-md-12">

					<div class="panel-wrap panel panel-primary">
				      <div class="panel-heading">
				        <h3 class="panel-title">项目信息</h3>
				      </div>
				      <div class="panel_body">
				        <table class="table">
				        	<colgroup>
				        		<col class="col-xs-1">
							  	<col class="col-xs-1">
							  	<col class="col-xs-10">
							 </colgroup>
					        <thead>
					          <tr>
					            <th>序号</th>
					            <th>任务编号</th>
					            <th>任务名称</th>
					          </tr>
					        </thead>
					        <tbody>
					          <tr>
					            <th scope="row">1</th>
					            <td>Mark</td>
					            <td>Otto</td>
					          
					          </tr>
					          <tr>
					            <th scope="row">2</th>
					            <td>Jacob</td>
					            <td>Thornton</td>
					          
					          </tr>
					          <tr>
					            <th scope="row">3</th>
					            <td>Larry</td>
					            <td>the Bird</td>
					            
					          </tr>
					        </tbody>
					      </table>
				      </div>
				    </div>
				    <div class="panel-wrap panel panel-primary">
				      <div class="panel-heading">
				        <h3 class="panel-title">图纸列表</h3>
				      </div>
				      <div class="panel_body">
				        <table class="table">
				        	<colgroup>
				        		<col class="col-xs-1">
							  	<col class="col-xs-1">
							  	<col class="col-xs-10">
							 </colgroup>
					        <thead>
					          <tr>
					            <th>序号</th>
					            <th>任务编号</th>
					            <th>任务名称</th>
					          </tr>
					        </thead>
					        <tbody>
					          <tr>
					            <th scope="row">1</th>
					            <td>Mark</td>
					            <td>Otto</td>
					          
					          </tr>
					          <tr>
					            <th scope="row">2</th>
					            <td>Jacob</td>
					            <td>Thornton</td>
					          
					          </tr>
					          <tr>
					            <th scope="row">3</th>
					            <td>Larry</td>
					            <td>the Bird</td>
					            
					          </tr>
					          <tr>
					            <th scope="row">3</th>
					            <td>Larry</td>
					            <td>the Bird</td>
					            
					          </tr>
					        </tbody>
					      </table>
				      </div>
				    </div>
				    <div class="button-wrap pull-right">
				    	<button class="btn btn-primary">确定</button>
				    	<button class="btn btn-default">取消</button>
				    </div>
			</div>
		</div>
	</div>

	</div>
	

	<script src="../public/javascripts/vue.js"></script>
	<script src="../public/javascripts/vue-resource.min.js"></script>
	<script>

		new Vue({
			el:'body',
			data:{
				status:false,
				isLogin:false,
				ruleLogin:{
					username:'',
					pass:''
				}

			},
			methods:{
				submitForm(formName) {
					console.log("ddd")
					if(this.status) return
					var that = this;
					if(this.ruleLogin.username == 'hello' && this.ruleLogin.pass == 123456) {
						that.status = true
						alert('登录成功')
						that.isLogin = true
					}
					else {
						that.status = false
						alert('登录失败')
					}
				}
			},	
		})

	</script>
</body>
</html>