<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>提交图纸</title>
	<link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="../public/stylesheets/style.css">
	<style type="text/css">
		.body-wrap {
			height: 100%;
    		display: flex;
   			align-items: center;
		}
		.checkbox{
			margin:5px 0;
		}

	</style>
</head>
<body>
	<div class="body-wrap">
		<div class="container" v-if="!isLogin">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
					<div class="form-horizontal form-wrap">
						<h2 class="text-center">登 录</h2>
				  	<div class="form-group">
				    	<label for="inputEmail3" class="col-sm-3 control-label">用户名</label>
				    	<div class="col-sm-7">
				      	<input type="text" class="form-control" id="inputEmail3" placeholder="用户名" v-model="ruleLogin.username" >
				    	</div>
				  	</div>
				  	<div class="form-group">
				    	<label for="inputPassword3" class="col-sm-3 control-label">密码</label>
				    	<div class="col-sm-7">
				      	<input type="password" class="form-control" id="inputPassword3" placeholder="密码" v-model="ruleLogin.pass" >
				    	</div>
				  	</div>
				  	<div class="form-group">
				    	<div class="col-sm-offset-3 col-sm-9">
				      	<button  class="btn btn-primary" @click="login()">{{ status ? '正在登录中...' : '登录'}}</button>
				    	</div>
				  	</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container" v-else>
			<div class="row">
				<div class="col-md-12">
					<div class="panel-wrap panel panel-primary">
				      <div class="panel-heading">
				        <h3 class="panel-title">项目信息</h3>
				      </div>
				      <div class="panel_body">
				        <table class="table table-hover" id="project">
				        	<colgroup>
				        		<col class="col-xs-1">
							  	<col class="col-xs-2">
							  	<col class="col-xs-9">
							 </colgroup>
					        <thead>
					          <tr>
					            <th>序号</th>
					            <th>任务编号</th>
					            <th>任务名称</th>
					          </tr>
					        </thead>
					        <tbody>
					          <tr v-for="(index,item) in tableList" @click="clickItems(item)" v-bind:class="{ info: trItem == item }">
					          	<td>
					          		{{index+1}} <!--索引号从1开始-->
					          	</td>
					            <td>{{item.TaskID}}</td>
					            <td>{{item.TaskName}}</td>					          
					          </tr>
					        </tbody>
					      </table>
				      </div>
				    </div>
				    <div class="panel-wrap panel panel-primary">
				      <div class="panel-heading">
				        <h3 class="panel-title">图纸列表</h3>
				      </div>
				      <div class="panel_body">
				        <table class="table">
				        	<colgroup>
				        		<col class="col-xs-1">
							  	<col class="col-xs-10">
							
							 </colgroup>
					        <thead>
					          <tr>
					            <th><input type="checkbox" name="" v-model="checkAll" value="" @click='checkedAll()'></th>  <!--全选与全不选-->
					            <th>图纸名称</th>
					          </tr>
					        </thead>
					        <tbody>
					          <tr v-for="item in sheetsList">
					            <td><input type="checkbox" name="" v-model="checkedNames" value="{{item.name}}" checked=""></td>
					            <td>{{item.name}}</td>
					          </tr>
					        </tbody>
					      </table>
				      </div>
				    </div>
				    <div class="button-wrap pull-right">
				    	<button class="btn btn-primary" @click="onClickOk">确定</button>
				    	<button class="btn btn-default" @click="onClickCancel">取消</button>
				    </div>
			</div>
		</div>
	</div>
	</div>
	

	<script src="../public/javascripts/vue.js"></script>
	<script src="../public/javascripts/vue-resource.min.js"></script>
	<script src="../public/javascripts/md5.min.js"></script>
	<script src="../public/javascripts/jquery-1.11.1.min.js"></script>
	<script>

		new Vue({
			el:'body',
			data:{
				status:false, //登录按钮状态
				isLogin:false,  // 判断是否登录，若登录，则登录表单隐藏
				trItem:{}, //项目信息表格行数据
				ruleLogin:{  //登录表单双向绑定
					username:'',
					pass:''
				},
				tableList:[], //项目信息列表
				result:{
					url:"http://192.168.0.11/JQWebMVC/Design/GCADAPI/Process",
					sheets:'',
					taskInfo:'',
					empId:''
				},
				sheetsList:[], //图纸列表
				checkedNames:[], //复选框
				checkAll:false
			},

			created() {
				//自动登陆
				this.ruleLogin.username = localStorage.getItem('JQUser');
				this.ruleLogin.pass = localStorage.getItem('JQPassword');
				if (this.ruleLogin.username != null && this.ruleLogin.username != ''
				    && this.ruleLogin.pass != null && this.ruleLogin.pass != '') {
					this.login()
				}
			},

			methods:{
				login() {
					if(this.status) return
					var that = this;
					/*var postData = {
						command:"gettask",
						a:that.ruleLogin.username,
						p:md5(that.ruleLogin.pass) //md5密码加密
					}*/
					$.ajax({
						url:'http://192.168.0.11/JQWebMVC/Design/GCADAPI/Process',
						type:'POST',
						data:{
							command:"gettask",
							a:that.ruleLogin.username,
							p:md5(that.ruleLogin.pass)
						},
						success:function(res) {
							//保存用户名密码
							localStorage.setItem('JQUser', that.ruleLogin.username)
							localStorage.setItem('JQPassword', that.ruleLogin.pass)

							var obj = JSON.parse(res)
							that.isLogin = true;  //如果登录验证成功，则登录模块消失
							console.log(obj)
							var data = obj.data;
							that.resData = data;
							data.forEach(function(e,i) {
								that.tableList.push({TaskEmpID:e.TaskEmpID,TaskID:e.TaskID,TaskName:e.TaskName}) //渲染提交图纸页
							})
							that.result.empId = obj.empid;
							that.loadSheets();
						},
						error:function(error){
							console.log('error')
						}
					})
				},

				clickItems(obj){
					var that = this;
					this.trItem = obj
					for(var i = 0 ;i<that.resData.length;i++) {
						if(that.resData[i].TaskID == obj.TaskID) {
							console.log(JSON.stringify(that.resData[i]))
							that.result.taskInfo = JSON.stringify(that.resData[i])
						}
					}
				},

				checkedAll() { //全选 或 反选
					var that = this;
					var checkedNames = [];
					if (!this.checkAll) {
						that.sheetsList.forEach(function(e,i) {
							checkedNames.push(e.name)
						})
					}
					that.checkedNames = checkedNames;

				},

				loadSheets() {
					var that = this;
					JQ.getSheets().then(function(res) {
						//console.log(res);
						var sheets = JSON.parse(res);
						sheets.forEach(function(e,i){
							//console.log(e)
							//that.result.sheets += e;
							that.sheetsList.push({name:e})
						})
					});
				},

				onClickOk(){
					//console.log(this.checkedNames.toString()) //打印出选中的行并转为字符串
					var that = this;
					this.checkedNames.forEach(function(name) {
						that.result.sheets += name;
					})
					//console.log(JSON.stringify(this.result))
					if (window.JQ) {
						JQ.clickOK(JSON.stringify(this.result));
					}
				},

				onClickCancel() {
					if (window.JQ) {
						JQ.clickCancel();
					}	
				}
			},
			watch:{
				'checkedNames':function(){  //监听复选框
					var that = this;
					if(this.sheetsList.length === this.checkedNames.length) { //如果复选框选中个数 == 图纸列表的个数 则全选
						that.checkAll = true;
					}
					else{
						that.checkAll = false; //否则返选
					}
				},
				checkAll(yes) {
					this.checkAll = yes;
				}
			}	
		})

	</script>
</body>
</html>