<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>提交图纸</title>
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">

					<div class="panel-wrap panel panel-primary">
				      <div class="panel-heading">
				        <h3 class="panel-title">项目信息</h3>
				      </div>
				      <div class="panel_body">
				        <table class="table">
				        	<colgroup>
				        		<col class="col-xs-1">
							  	<col class="col-xs-1">
							  	<col class="col-xs-10">
							 </colgroup>
					        <thead>
					          <tr>
					            <th>序号</th>
					            <th>任务编号</th>
					            <th>任务名称</th>
					          </tr>
					        </thead>
					        <tbody>
					          <tr>
					            <th scope="row">1</th>
					            <td>Mark</td>
					            <td>Otto</td>
					          
					          </tr>
					          <tr>
					            <th scope="row">2</th>
					            <td>Jacob</td>
					            <td>Thornton</td>
					          
					          </tr>
					          <tr>
					            <th scope="row">3</th>
					            <td>Larry</td>
					            <td>the Bird</td>
					            
					          </tr>
					        </tbody>
					      </table>
				      </div>
				    </div>
				    <div class="panel-wrap panel panel-primary">
				      <div class="panel-heading">
				        <h3 class="panel-title">图纸列表</h3>
				      </div>
				      <div class="panel_body">
				        <table class="table">
				        	<colgroup>
				        		<col class="col-xs-1">
							  	<col class="col-xs-1">
							  	<col class="col-xs-10">
							 </colgroup>
					        <thead>
					          <tr>
					            <th>序号</th>
					            <th>任务编号</th>
					            <th>任务名称</th>
					          </tr>
					        </thead>
					        <tbody>
					          <tr>
					            <th scope="row">1</th>
					            <td>Mark</td>
					            <td>Otto</td>
					          
					          </tr>
					          <tr>
					            <th scope="row">2</th>
					            <td>Jacob</td>
					            <td>Thornton</td>
					          
					          </tr>
					          <tr>
					            <th scope="row">3</th>
					            <td>Larry</td>
					            <td>the Bird</td>
					            
					          </tr>
					          <tr>
					            <th scope="row">3</th>
					            <td>Larry</td>
					            <td>the Bird</td>
					            
					          </tr>
					        </tbody>
					      </table>
				      </div>
				    </div>
				    <div class="button-wrap pull-right">
				    	<button class="btn btn-primary">确定</button>
				    	<button class="btn btn-default">取消</button>
				    </div>
			</div>
		</div>
	</div>
</body>
</html>