<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>提交图纸</title>
	<link rel="stylesheet" href="./stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="./stylesheets/style.css">
	<style type="text/css">
		.body-wrap {
			height: 100%;
    		display: flex;
   			align-items: center;
		}
		.checkbox{
			margin:5px 0;
		}

	</style>
</head>
<body>
	<div class="body-wrap">
		<div class="container" v-if="!isLogin">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
				<div class="form-horizontal form-wrap">
					<h2 class="text-center">登 录</h2>
				  <div class="form-group">
				    <label for="inputEmail3" class="col-sm-3 control-label">用户名</label>
				    <div class="col-sm-7">
				      <input type="text" class="form-control" id="inputEmail3" placeholder="用户名" v-model="ruleLogin.username" >
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="inputPassword3" class="col-sm-3 control-label">密码</label>
				    <div class="col-sm-7">
				      <input type="password" class="form-control" id="inputPassword3" placeholder="密码" v-model="ruleLogin.pass" >
				    </div>
				  </div>
				  <div class="form-group">
				    <div class="col-sm-offset-3 col-sm-9">
				      <button  class="btn btn-primary" @click="submitForm('ruleLogin')">{{ status ? '正在登录中...' : '登录'}}</button>
				    </div>
				  </div>
				</div>
			</div>
		</div>
	</div>
	<div class="container" v-else>
		<div class="row">
			<div class="col-md-12">

					<div class="panel-wrap panel panel-primary">
				      <div class="panel-heading">
				        <h3 class="panel-title">项目信息</h3>
				      </div>
				      <div class="panel_body">
				        <table class="table table-hover" id="project">
				        	<colgroup>
				        		<col class="col-xs-1">
							  	<col class="col-xs-1">
							  	<col class="col-xs-10">
							 </colgroup>
					        <thead>
					          <tr>
					            <th>序号</th>
					            <th>任务编号</th>
					            <th>任务名称</th>
					          </tr>
					        </thead>
					        <tbody>
					          <tr v-for="(index,item) in tableList" @click="clickItems(item)" v-bind:class="{ info: trItem == item }">
					          	<td>
					          		{{index+1}}
					          	</td>
					            <td>{{item.TaskID}}</td>
					            <td>{{item.TaskName}}</td>					          
					          </tr>
					       
					        </tbody>
					      </table>
				      </div>
				    </div>
				    <div class="panel-wrap panel panel-primary">
				      <div class="panel-heading">
				        <h3 class="panel-title">图纸列表</h3>
				      </div>
				      <div class="panel_body">
				        <table class="table">
				        	<colgroup>
				        		<col class="col-xs-1">
							  	<col class="col-xs-1">
							  	<col class="col-xs-10">
							 </colgroup>
					        <thead>
					          <tr>
					            <th>序号</th>
					            <th>任务编号</th>
					            <th>任务名称</th>
					          </tr>
					        </thead>
					        <tbody>
					          <tr>
					            <th scope="row">1</th>
					            <td>Mark</td>
					            <td>Otto</td>
					          
					          </tr>
					          <tr>
					            <th scope="row">2</th>
					            <td>Jacob</td>
					            <td>Thornton</td>
					          
					          </tr>
					          <tr>
					            <th scope="row">3</th>
					            <td>Larry</td>
					            <td>the Bird</td>
					            
					          </tr>
					          <tr>
					            <th scope="row">3</th>
					            <td>Larry</td>
					            <td>the Bird</td>
					            
					          </tr>
					        </tbody>
					      </table>
				      </div>
				    </div>
				    <div class="button-wrap pull-right">
				    	<button class="btn btn-primary" @click="onClickOk">确定</button>
				    	<button class="btn btn-default" @click="onClickCancel()">取消</button>
				    </div>
			</div>
		</div>
	</div>
	</div>
	

	<script src="./javascripts/vue.js"></script>
	<script src="./javascripts/vue-resource.min.js"></script>
	<script src="./javascripts/md5.min.js"></script>
	<script src="./javascripts/jquery-1.11.1.min.js"></script>
	<script>

		new Vue({
			el:'body',
			data:{
				status:false,
				isLogin:false,
				trItem:{},
				ruleLogin:{
					username:'',
					pass:''
				},
				tableList:[],
				isActive:false,
				result:{
					url:"http://192.168.0.11/JQWebMVC/Design/GCADAPI/Process",
					sheets:'',
					taskInfo:'',
					empId:''
				}
			},
			methods:{
				submitForm(formName) {
					console.log("ddd")
					if(this.status) return
					var that = this;
					var postData = {
						command:"gettask",
						a:that.ruleLogin.username,
						p:md5(that.ruleLogin.pass)
					}
					$.ajax({
						url:'http://192.168.0.11/JQWebMVC/Design/GCADAPI/Process',
						type:'POST',
						data:{
							command:"gettask",
							a:that.ruleLogin.username,
							p:md5(that.ruleLogin.pass)
						},
						success:function(res) {
							var obj = JSON.parse(res)
							that.isLogin = true
							// console.log(obj.data)
							var data = obj.data;
							data.forEach(function(e,i) {
								that.tableList.push({TaskEmpID:e.TaskEmpID,TaskID:e.TaskID,TaskName:e.TaskName})
							})
							// console.log(that.tableList)
						},
						error:function(error){
							console.log('error')
						}
					})
				},
				clickItems(obj){
					this.trItem = obj
					console.log(this.trItem)
					this.result.taskInfo = JSON.stringify(this.trItem)

				},
				loadProject(info) {
					result.taskInfo = JSON.stringify(info.data[0]);
					result.empID = info.empid;
					var projects = info.data;
					var i  = 1;
					var rows = '';
					for (var key in projects) {
						var no = projects[key].TaskID;
						var name = projects[key].TaskName;
						//var phase = projects[key].PhaseName;
						//var taskName = projects[key].
						rows += '<tr><td>' + i + '</td><td>' + no + '</td><td>' + name + '</td><tr>';
						i++;
					}
					$('#project tbody').append(rows);

					$('#project tr').click(function() {
						$(this).addClass('info').siblings().removeClass("info");
						
						var index = $("td:eq(1)", $(this)).text();
						result.taskInfo = info.data[index];
					});
				},
				loadSheets() {

				},
				onClickOk(){

				},
				onClickCancel() {

				}
			}	
		})

	</script>
	<script type="text/javascript">
		
		$(document).ready(function(){
		 $('#project>tbody>tr').click(function() {
				console.log("adsfdsf")
				
				
			});
		});

	    	
	   
	</script>
</body>
</html>