<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>查看校审意见</title>
	<link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="../public/stylesheets/flex.css">
	<link rel="stylesheet" href="../public/stylesheets/font-awesome.css">
	<link rel="stylesheet" href="../public/stylesheets/jquery.treegrid.css">
	<link rel="stylesheet" href="../public/stylesheets/style.css">
	<script src="../public/javascripts/jquery-1.11.1.min.js"></script> <!--引入vue.js-->
    <script src="../public/javascripts/jquery.treegrid.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $('.tree').treegrid({
        	initialState:'collapsed'
        });
      });
    </script>
</head>
<body>
	<div class="body-wrap">
	    <div class="panel-body box-wrap">
      		<div class="bg-box">
				 
      			<div class="table-height-0">
      			<h4>校审意见</h4>
      			
					<table class="table table-bordered tree mt-15">
					  	<tbody>
							<tr>
								<td>
									<a href="#" data-toggle="modal" data-target="#myModalProofread_1">1.xxxxxxxx</a>
								</td>
							</tr>
							<tr>
								<td>
									<a href="#">2.xxxxxxxx</a>
								</td>
							</tr>
							<tr>
								<td>
									<a href="#">3.xxxxxxxx</a>
								</td>
							</tr>
							<tr>
								<td>
									<a href="#">4.xxxxxxxx</a>
								</td>
							</tr>
							<!-- <tr class="treegrid-3 treegrid-parent-1">
								<td>Node 1-2</td><td>Additional info</td><td></td>
							</tr>
							<tr class="treegrid-4 treegrid-parent-3">
								<td>Node 1-2-1</td><td>Additional info</td><td></td>
							</tr> -->
					  </tbody>
					</table>
				</div>
      		</div>
	    </div>
	</div>
	<div class="modal fade" id="myModalProofread_1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">样板文件</h4>
	      </div>
	      <div class="modal-body" v-show="isToNext">
				<div class="modal-body-title">
					<div class="modal-body-title-l">
						<p>2017年05月17日</p>
						<p>此处需要修改</p>
					</div>
					<div class="modal-body-title-r">
						<img src="/img/img.png" alt="" >
					</div>
				</div>

				<select name="" id="" multiple class="form-control mt-30"  v-cloak>
					<option>建筑样板1</option>
				  	<option>建筑样板2</option>
				  	<option>建筑样板3</option>
			    </select>
				<div class="modal-body-footer">
					<div class="modal-flex">
					    <span class="span-flex">状态：</span><select name="" id="" class="form-control input-sm dl" v-cloak>
								<option>已修改</option>
							  	<option>进行中</option>
							  	<option>未修改</option>
						      </select>
				    </div>
					<div>
					    <button class="btn btn-primary" @click="submitToNext">确定</button>
				    </div>
				</div>
	      </div>
	      <div class="modal-body" v-show="!isToNext">
				<div class="modal-body-title">
					<div class="modal-flex modal-body-title-l">
						<span class="span-flex">操作：</span><select name="" id="" class="form-control input-sm" v-cloak>
								<option>上一步</option>
							  	<option>下一步</option>
						      </select>
					</div>
					<div class="modal-flex modal-body-title-r" style="padding:15px 10px;">
						<span class="span-flex">人员：</span><select name="" id="" class="form-control input-sm" v-cloak>
								<option>人员一</option>
							  	<option>人员二</option>
						      </select>
					</div>
				</div>
				<div class="modal-body-middle mt-30">
					<h4>图纸列表</h4>
					<table class="table table-bordered tree text-center">
						  <thead>
						  	<tr>
							 	<td>选择</td>
							    <td>图名</td>
						  </tr>
						  </thead>
					  	<tbody>
							<tr>
								<td>
									<input type="checkbox">
								</td>
								<td>[B34-D02-01]0M平面图</td>
							</tr>
							<tr>
								<td>
									<input type="checkbox">
								</td>
								<td>[B34-D02-01]0M平面图</td>
							</tr>
							<!-- <tr class="treegrid-3 treegrid-parent-1">
								<td>Node 1-2</td><td>Additional info</td><td></td>
							</tr>
							<tr class="treegrid-4 treegrid-parent-3">
								<td>Node 1-2-1</td><td>Additional info</td><td></td>
							</tr> -->
					  </tbody>
					</table>
				</div>
				<div class="modal-body-foot">
					    <button class="btn btn-primary  pull-right" data-dismiss="modal" >确定</button>
				    <div class="clearfix"></div>
				</div>
	      </div>
	      <!-- <div class="modal-footer">
	        <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
	      </div> -->
	    </div>
	  </div>
	</div>
	<script src="../public/javascripts/bootstrap.min.js"></script> <!--引入vue.js-->
	<script src="../public/javascripts/vue.js"></script> <!--引入vue.js-->
	<script src="../public/javascripts/vue-resource.min.js"></script><!--引入vue.js 插件库 vue中的ajax-->
	<script type="text/javascript">

	</script>
	
	<script type="text/javascript">
		new Vue({
			el:'body',
			data:{
				isToNext:true
			},
			methods:{
				submitToNext() {
					this.isToNext = false;
				}
			}
		})
	</script>
</body>
</html>