@charset "UTF-8";

body, html {
  height: 100%;
  width: 100%;
}
* {
  padding:0;
  margin:0;
}
body {
  font-family: "微软雅黑";
  font-family: "Microsoft YaHei","微软雅黑";
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;

}
a{
  color:#474747;
}
a,a:hover,a:link{
  text-decoration: none;
}
.dl {
  display: inline-block;
}
.body-wrap {
  padding:0;
  position: relative;
}
[v-cloak] {
  display: none;
}
h4 {
  font-weight: bold;
}
.p-0 {
  padding:0;
}
.p-15 {
  padding:15px;
}
.m-0 {
  margin:0 !important;
}
.mb-0 {
  margin-bottom:0 !important;
}
.mt-15 {
  margin-top:15px;
}
.mt-30 {
  margin-top:30px;
}
.ml-15 {
  margin-left:15px !important;
}
.mr-15 {
  margin-right:15px;
}
.p-0 {
  padding:0 !important;
}
.p-5 {
  padding:5px;
}
.pl-0 {
  padding-left:0;
}
.pr-0 {
  padding-right:0;
}
.mt-5 {
  margin-top:5px;
}
.mb-15 {
  margin-bottom:15px;
}
.pt-15 {
  padding-top:15px;
}
.ptb-5 {
  padding-top:5px;
  padding-bottom: 5px;
}
.plr-15{
  padding-left:15px;
  padding-right:15px;
}
.center {
  text-align:center !important;
  margin:0 auto !important;
}
.box-wrap {
  /*padding: 10px 10px 0 10px;
  border:1px solid #8e8e8e;
  margin:0 auto;*/
}
.box-1 {
    /*width:960px;*/
}
.box-2 {
  width:550px;
}
.item_1 {
  height:280px;
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%
}
.item_border {
  border:1px solid #cacaca;
}
.item_select_1 {
  display: flex;
  align-items: center;
  margin-top:15px;
}
.item_select_2 {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.item_select_1 select {
  flex:50%;
}
.item_select_2 select,.item_select_2 input {
  flex:50%;
  margin-left:15px;
}
.flex_center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#337ab7;
  padding:5px;
}
.flex_center h4{
  margin:0;
  color:white;
  font-weight: normal;
  font-size:14px;
}
.table>tbody>tr>td{
  height:25px;
  padding:2px;
}
.item_2_height {
  height:200px;
  padding:5px;
}
.item_2_height .flex_around {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.item_2 {
/*  padding:5px;*/
}
.item_2_lists select {
  height:190px !important;
}
.item_2 textarea {
  box-shadow: none !important;
  border: 1px solid #cacaca;
  border-radius: 0!important;
  font-size: 14px !important;
  overflow-y:scroll;
  margin-top: 0px;
  padding: 5px 10px;
  resize: none;
  width: 100%;
}
 .btn-bim {
  width:100px;
  margin:15px 0;
}
.btn-bim.ml-30 {
  margin-left: 30px;
}

.item_select_2 .item_select_h{
  height:210px;
}
.add_new_type_box {
  /*height: 210px;*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border:1px solid #cacaca;
  padding:10px;
  margin-top:15px;

}

.form-group {
  display: flex;
}
.form-group input {
  flex:50%;
}


.danger {

  border:1px solid red;
}
.table-height {
    max-height: 400px;
    overflow-y: auto;
}
.table-height table{
  margin-bottom: 0;
}
.table-height table input{
  border:none;
}

.form-wrap {
  border: 1px solid #dbdbdb;
  padding:6% 30px;
}
.form-wrap h2 {
  margin:20px 0;
}
.flex{
  padding:0 5px;
}
.panel-wrap {
  min-width:400px !important;
  overflow-x:auto !important;
  border:1px solid #ccc;
}

.panel_body table {
  margin-bottom: 0;
}

/*项目信息、图纸列表 设定 高度*/
.panel_body {
    overflow-y: auto;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  vertical-align: middle;
}


/*编辑标高*/
.bg-box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  width:600px;
  border:1px solid #dbdbdb;
  padding:15px;
  height: 500px;
}
.bg-box .bg-footer {
  text-align: right;
}
.bg-box .bg-footer input {
  margin-left:15px;
  width:100px;
  height:30px;

}


/*创建图纸*/
.tz-box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  width:900px;
  border:1px solid #dbdbdb;
  padding:15px;
  /*height: 500px;*/
}

select.input-xs {
  height:25px;
  line-height:25px;
  padding:2px 10px;
}
.input-border {
  border:initial;
}
.input-noborder {
  border:none;
}
.tz-footer {
  text-align: right;
}


.modal li {
  list-style: none;
  text-align: left;
}
.modal-body label {
  font-size:16px;
}


.proportion-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.proportion-box .input-group {
  width:60%;
}
.proportion-box .input-group .dropdown-menu {
  min-width: 0;
}


/*项目信息*/
.case-well {
  margin-left:20px;
}



/*校审意见*/
.modal-body-title{
  display: flex;
  justify-content: space-between;
  border:1px solid #dbdbdb;
}
.modal-body-title-l,.modal-body-title-r{
  width:50%
}
.modal-body-title-l {
  padding:15px;
}
.modal-body-title-r img {
  width:100%;
}
.modal-body-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:15px 10px;
}

.tizi-checkbox label {
  margin-left: 15px;
}


/*插入电气柜*/
.bg-box-0 {

  width:800px;
  border:1px solid #dbdbdb;
  padding:15px;
  min-height: 500px;
}
.bg-box-b {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form-box-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.table-flex .form-box-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.form-box-group .group-item .checkbox {
  display: inline-block;
}
.form-box-group .group-item select {
  margin-left:15px;
}
.panel-body-wrap {
      max-height: 230px;
    overflow: auto;
    overflow-x:hidden;
}
.panel-body-wrap .table {
  margin-bottom:0;
}

.modal-flex {
  display: flex;
  justify-content: space-between;
}
.span-flex {
  display: flex;
  align-items: center;
  width:80px;
}

.table-height-0 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.penel-fix {
  margin-bottom: 0;
}
.preview-window {
 /* width:300px;*/
  height:200px;
  border:1px solid #dbdbdb;
  line-height: 200px;
  text-align:center;
}

.disabled {
  pointer-events: none;
  color: #bdbdbd;
}


/*
  bootstrap treeview
*/
.list-group-item {
  border:0;
  padding:5px 15px;
}
.list-group-item:first-child,.list-group-item:last-child{
  border-radius:0;
}


.panel-bim {
  margin-bottom: 0;
}
.panel-bim .panel-body-wrap{
      max-height: 330px;
      overflow-y:auto;
}

.table-ver-top>tbody>tr>td {
   vertical-align: top
}



/*布置支吊架-横担-预览图片*/
.img-box-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100%;
  border:1px solid #dbdbdb;
}


/*文件夹列表*/
.file-list {
  border:1px solid #dbdbdb;
  padding:15px;
  margin-top: 30px;
  height: 350px;
  overflow: auto;
}




.body-full-mask {
  position: fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background: rgba(255,255,255,0.7);
  z-index:1051;
}
/*app loading*/
.app-loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1055;
    /*max-width: 640px;*/
    margin: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;

        }

        .app-loading-hide {
            left: 120%;
            bottom: 120%;
            opacity: 0;
        }

        .app-loading .box {
            width: 400px;
            height: 200px;
            text-align: center;
            color: #fff;
        }

        @-webkit-keyframes line-spin-fade-loader {
            50% {
                opacity: 0.3;
            }
            100% {
                opacity: 1;
            }
        }

        @-moz-keyframes line-spin-fade-loader {
            50% {
                opacity: 0.3;
            }
            100% {
                opacity: 1;
            }
        }

        @-o-keyframes line-spin-fade-loader {
            50% {
                opacity: 0.3;
            }
            100% {
                opacity: 1;
            }
        }

        @keyframes line-spin-fade-loader {
            50% {
                opacity: 0.3;
            }
            100% {
                opacity: 1;
            }
        }

        .app-loading .line-spin-fade-loader {
            position: relative;
            width: 0;
            margin: 0 auto;
        }

        .app-loading .line-spin-fade-loader > div:nth-child(1) {
            top: 20px;
            left: 0;
            -webkit-animation: line-spin-fade-loader 1.2s 0.96s infinite ease-in-out;
            -moz-animation: line-spin-fade-loader 1.2s 0.96s infinite ease-in-out;
            -o-animation: line-spin-fade-loader 1.2s 0.96s infinite ease-in-out;
            animation: line-spin-fade-loader 1.2s 0.96s infinite ease-in-out;
        }

        .app-loading .line-spin-fade-loader > div:nth-child(2) {
            top: 13.63636px;
            left: 13.63636px;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
            -webkit-animation: line-spin-fade-loader 1.2s 0.84s infinite ease-in-out;
            -moz-animation: line-spin-fade-loader 1.2s 0.84s infinite ease-in-out;
            -o-animation: line-spin-fade-loader 1.2s 0.84s infinite ease-in-out;
            animation: line-spin-fade-loader 1.2s 0.84s infinite ease-in-out;
        }

        .app-loading .line-spin-fade-loader > div:nth-child(3) {
            top: 0;
            left: 20px;
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            transform: rotate(90deg);
            -webkit-animation: line-spin-fade-loader 1.2s 0.72s infinite ease-in-out;
            -moz-animation: line-spin-fade-loader 1.2s 0.72s infinite ease-in-out;
            -o-animation: line-spin-fade-loader 1.2s 0.72s infinite ease-in-out;
            animation: line-spin-fade-loader 1.2s 0.72s infinite ease-in-out;
        }

        .app-loading .line-spin-fade-loader > div:nth-child(4) {
            top: -13.63636px;
            left: 13.63636px;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
            -webkit-animation: line-spin-fade-loader 1.2s 0.6s infinite ease-in-out;
            -moz-animation: line-spin-fade-loader 1.2s 0.6s infinite ease-in-out;
            -o-animation: line-spin-fade-loader 1.2s 0.6s infinite ease-in-out;
            animation: line-spin-fade-loader 1.2s 0.6s infinite ease-in-out;
        }

        .app-loading .line-spin-fade-loader > div:nth-child(5) {
            top: -20px;
            left: 0;
            -webkit-animation: line-spin-fade-loader 1.2s 0.48s infinite ease-in-out;
            -moz-animation: line-spin-fade-loader 1.2s 0.48s infinite ease-in-out;
            -o-animation: line-spin-fade-loader 1.2s 0.48s infinite ease-in-out;
            animation: line-spin-fade-loader 1.2s 0.48s infinite ease-in-out;
        }

        .app-loading .line-spin-fade-loader > div:nth-child(6) {
            top: -13.63636px;
            left: -13.63636px;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
            -webkit-animation: line-spin-fade-loader 1.2s 0.36s infinite ease-in-out;
            -moz-animation: line-spin-fade-loader 1.2s 0.36s infinite ease-in-out;
            -o-animation: line-spin-fade-loader 1.2s 0.36s infinite ease-in-out;
            animation: line-spin-fade-loader 1.2s 0.36s infinite ease-in-out;
        }

        .app-loading .line-spin-fade-loader > div:nth-child(7) {
            top: 0;
            left: -20px;
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            transform: rotate(90deg);
            -webkit-animation: line-spin-fade-loader 1.2s 0.24s infinite ease-in-out;
            -moz-animation: line-spin-fade-loader 1.2s 0.24s infinite ease-in-out;
            -o-animation: line-spin-fade-loader 1.2s 0.24s infinite ease-in-out;
            animation: line-spin-fade-loader 1.2s 0.24s infinite ease-in-out;
        }

        .app-loading .line-spin-fade-loader > div:nth-child(8) {
            top: 13.63636px;
            left: -13.63636px;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
            -webkit-animation: line-spin-fade-loader 1.2s 0.12s infinite ease-in-out;
            -moz-animation: line-spin-fade-loader 1.2s 0.12s infinite ease-in-out;
            -o-animation: line-spin-fade-loader 1.2s 0.12s infinite ease-in-out;
            animation: line-spin-fade-loader 1.2s 0.12s infinite ease-in-out;
        }

        .app-loading .line-spin-fade-loader > div {
            background-color: #333;
            width: 3px;
            height: 35px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            margin: 2px;
            -webkit-animation-fill-mode: both;
            -moz-animation-fill-mode: both;
            -o-animation-fill-mode: both;
            animation-fill-mode: both;
            position: absolute;
            width: 5px;
            height: 15px;
        }

        .app-loading p {
          margin-top: 30px;
          line-height: 70px;
          font-size: 18px;
          color: #525252;
        }


.panel-chort-circuit {
  margin-bottom: 0;
}
.panel-chort-circuit .panel-heading{
  padding:5px 15px;
}
.panel-chort-circuit .panel-body {
    padding: 8px !important;
}
.panel-chort-circuit .form-group {
  margin-bottom: 5px !important;
}